<header class="main-header">
  <div class="main-header__logo"><a href="http://museumconservation.ru/?lang=en" target="_blank"
      title="Department of Conservation">
      <img src="img/logo_gmii_en.svg" alt="Logo Department of Conservation" width="300">
      <p>Department of Conservation</p>
    </a>
  </div>
  <h1 class="main-header__title">
    <a href="index-eng.html"><span>Twice rescued</span></a>
  </h1>
  <div class="main-header__controls">
    <div class="share-block">
      <button type="button" class="share-block__btn"><img src="img/upload.svg" width="22" alt="Поделиться"></button>
      <ul class="share-block__social">
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-copy="first" data-services="vkontakte,facebook,odnoklassniki" data-limit="3"></div>
      </ul>
    </div>
    <a href="{{page_lang_link}}.html" class="main-header__lang">Russian</a>
    <button class="main-nav__toggle" type="button"></button>
  </div>

  {% include "../partials/_nav-eng.html" %}


</header>
