---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "03-eng" %}
{% set id = "03" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card">

  <div class="before-after" style="max-width: 517px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[2].id }}/{{ tests.list[2].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[2].id }}/{{ tests.list[2].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[1].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[3].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50" alt=""></a>
      </div>
      <h2>{{ tests.list[2].author }}</h2>
      <h3>{{ tests.list[2].title }}</h3>

      <ul>
        <li>{{ tests.list[2].place }}</li>
        <li>Инв. {{ tests.list[2].inv }}</li>
        <li>{{ tests.list[2].material }}</li>
        <li>В. {{ tests.list[2].size }} см.</li>
        <li>{{ tests.list[2].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>В Этрурии краснофигурная вазопись под влиянием греков появилась только в V веке до н. э. Сложная гончарная
      техника поначалу просто имитировалась — на чернолаковых стенках ваз красной краской наносились фигуры (у греков
      они оставались в цвете глины, не залитой лаком). Росписи в целом не отличались афинским изяществом и тематической
      широтой, но они интересны и доносят до нас неизвестные этрусские ритуалы и мифы.
    </p>
    <p>Келеба из Орвьето, важного художественного центра Северной Этрурии, представляет собой вариант греческого кратера
      с ручками-колонками, сосуда для смешивания вина с водой. У келебы приземистое тулово и мощное широкое горло,
      расписанное сетчатыми ромбами. Греческие изящные пальметты на боках свелись к крупным простым листьям, между
      которыми заключены две композиции. На лицевой стороне виден летящий верхом на лебеде молодой бог, который держит в
      руке длинную тению — ритуальную ленту (символ связи, восстановления жизни). Вероятно, это Аплу (этрусский
      Аполлон), улетающий на зиму в Гиперборейскую страну или возвращающийся из нее. На оборотной стороне — крупная
      голова увенчанного венком божества (в профиль), держащего в руке древко. Обе композиции встречаются у греков, но
      решены оригинально. Фигура лебедя, отсутствующая на вазе, сохранилась на образце из Античного собрания
      Государственных музеев Берлина.
    </p>
    <p>Сосуд дошел во многих фрагментах, частично покрытых копотью, с некоторыми утратами на лицевой стороне. Утрачена
      также нижняя часть ствола одной ручки.</p>
    <p><i>Реставрация</i></p>
    <p>Келеба была найдена в фрагментированном виде, некоторые фрагменты сильно обгорели, не было видно рисунка и было
      сложно определить принадлежность фрагментов к одному памятнику. После очистки и склейки черепков, были восполнены
      утраченные фрагменты на тулове и восстановлена нижняя часть ствола левой ручки по аналогии с правой. Восполнения
      были затонированы в цвет черепка, чтобы не нарушать целостного восприятия формы сосуда.</p>
  </div>
</section>

{% endblock %}
