---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "11-eng" %}
{% set id = "11" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card  card--vertical">

  <div class="before-after" style="max-width: 517px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[10].id }}/{{ tests.list[10].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[10].id }}/{{ tests.list[10].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[9].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[11].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[10].author }}</h2>
      <h3>{{ tests.list[10].title }}</h3>

      <ul>
        <li>{{ tests.list[10].place }}</li>
        <li>Инв. {{ tests.list[10].inv }}</li>
        <li>{{ tests.list[10].material }}</li>
        <li>В. {{ tests.list[10].size }} см.</li>
        <li>{{ tests.list[10].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Среди знаменитых оракулов Греции одним из древнейших было святилище в Додоне, расположенное в области Эпир на
      северо-западе Балкан. Изначально божеством этой местности была материнская богиня плодородия, известная
      впоследствии под именем Дионы, но уже в микенское время (вторая половина II тыс. до н. э.) здесь был учрежден
      общегреческий культ Зевса, просуществовавший почти до конца классической эпохи. В конце IV века до н. э. священный
      дуб, в образе которого почитались Зевс и его супруга-богиня, был срублен, и святилище прекратило свое
      существование.
    </p>
    <p>В последней четверти XIX столетия при раскопках в Додоне была найдена статуэтка, предположительно, изображающая
      Зевса. Его по-юношески стройная фигура передана в классической позе стоящего атлета. Она исполнена гармонии и
      спокойствия и при этом отличается виртуозной точностью передачи анатомии в сочетании с необыкновенно сложной и
      тонкой нюансировкой деталей. Царственный образ бога предстает здесь скорее возвышенным и поэтически
      одухотворенным, чем грозным и величественным. Статуэтка «Зевса из Додоны», бесспорно, принадлежит к лучшим
      произведениям греческой бронзовой пластики, дошедшим до наших дней. Как считается, она входит в круг влияния
      одного из последних великих ваятелей Греции — Лисиппа, работавшего во второй половине IV века до н. э.
    </p>
    <p><i>Реставрация</i></p>
    <p>В 2004 году памятник был очищен от поверхностных наслоений. Впоследствии была обнаружена ступня правой ноги — в
      2018 году в ходе реставрации найденный фрагмент присоединили к статуэтке.</p>
  </div>
</section>

{% endblock %}
