---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "12-eng" %}
{% set id = "12" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card  card--vertical">

  <div class="before-after" style="max-width: 517px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[11].id }}/{{ tests.list[11].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[11].id }}/{{ tests.list[11].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[10].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[12].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[11].author }}</h2>
      <h3>{{ tests.list[11].title }}</h3>

      <ul>
        <li>{{ tests.list[11].place }}</li>
        <li>Инв. {{ tests.list[11].inv }}</li>
        <li>{{ tests.list[11].material }}</li>
        <li>В. {{ tests.list[11].size }} см.</li>
        <li>{{ tests.list[11].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>На острове Кипр, находившемся на перепутье между древним Востоком и древним Западом, последней и самой
      значительной эпохой расцвета искусств была архаика (середина VIII — начало V века до н. э.). Там намного раньше,
      чем в Греции, появилась монументальная скульптура из глины и известняка (в Греции в основном мраморная), ею были
      заполнены теменосы — святилища богов под открытым небом. Об этом свидетельствует святилище в Айа-Ирини на
      северо-западе Кипра, где шведская экспедиция в конце 1920-х — начале 1930-х годов нашла свыше двух тысяч фигур.
    </p>
    <p>У киприотов не были приняты обнаженные статуи мужчин. Они изображались в плотных одеяниях, прямо стоящими,
      плоскими в профиль, глядящими прямо на зрителя, с каким-нибудь атрибутом в руках — пальмовой ветвью, жертвенным
      животным, сосудом. Эти статуи принято называть «адорантами» — почитателями бога, приносящими ему дары. Они почти
      неотличимы от статуй богов, к одной из которых, возможно, принадлежала данная голова. У нее обобщенная форма,
      по-архаически изящная прическа и борода. Но вместе с тем ощутимы цельность, одухотворенность и особая энергия,
      роднящие памятник с греческими статуями героев и богов начала V века до н. э. Вероятно, это одно из последних
      высоких достижений кипрских ваятелей, которые в это время уже утратили самостоятельность и стали все чаще
      подражать эллинским образцам.
    </p>
    <p><i>Реставрация</i></p>
    <p>Голова дошла практически целой, утрачена лишь нижняя часть бороды. Большую проблему представляла очистка
      памятника от плотной коры загрязнений и почвенных отложений. </p>
  </div>
</section>

{% endblock %}
