---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
width: 517
---
{% set page_title = "index" %}
{% set page_lang_link = "13-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card">

  <div class="before-after" style="max-width: 517px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[12].id }}/{{ tests.list[12].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[12].id }}/{{ tests.list[12].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[11].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[13].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=-2aSU7oAdRg"><img src="img/video_play_lines.svg"
            width="50"></a>
      </div>
      <h2>{{ tests.list[12].author }}</h2>
      <h3>{{ tests.list[12].title }}</h3>

      <ul>
        <li>{{ tests.list[12].place }}</li>
        <li>Инв. {{ tests.list[12].inv }}</li>
        <li>{{ tests.list[12].material }}</li>
        <li>В. {{ tests.list[12].size }} см.</li>
        <li>{{ tests.list[12].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article  card__article--with-video">
    <p>Статуэтка «Иоанн Креститель» была приобретена виднейшим деятелем берлинских музеев и известным историком
      искусства Вильгельмом фон Боде (1845-1929) во Флоренции в 1878 году у наследников старинного флорентийского рода
      Строцци вместе с несколькими выдающимися произведениями живописи и скульптуры. Роль посредника в этой исторической
      по масштабу сделке осуществлял Стефано Бардини (1836-1922), наиболее значительный итальянский антиквар своего
      времени. Определенная и опубликованная Боде как собственноручная работа Донателло, статуэтка стала гордостью
      собрания и неоднократно фигурировала в довоенной литературе. Боде датировал статую временем около 1423 года и
      предполагал, что она была заказана Донателло для баптистерия в Орвьето, но не установлена на свое место. Уже после
      исчезновения памятника в послевоенный период, ряд критических статей английских и американских искусствоведов,
      написанных на материале архивных фотографий, опроверг теорию Боде, и вместе с тем вывел «Иоанна» из числа работ,
      приписываемых скульптору. Обнаружение уже в новейшее время архивных документов, упоминающих статуэтку Иоанна с
      атрибуцией Донателло (инвентарь Палаццо Мартелли 1493 года), и ряд стилистических пересечений с несомненными
      работами мастера (фигуры Добродетелей с Баптистерия в Сиене; деревянная статуя Магдалины) позволяет со всей
      серьезностью вернуться к первоначальной атрибуции скульптуры Донателло. Определенную роль в этом играют и
      материалы технико-технологических исследований.
    </p>
    <p><i>Реставрация</i></p>
    <p>Поверхность очищена от загрязнений, проведено укрепление окисного слоя. Определен состав металла. Считавшиеся
      утраченными фрагменты (ступни ног и правая рука), были обнаружены в фондах и смонтированы на скульптуре. Левая
      рука отлита из эпоксидной композиции по гипсовой модели. Изготовлен каркас и постамент.</p>

  </div>
</section>

{% endblock %}
