---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "14-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card">
  <div class="before-after" style="max-width: {{ tests.list[13].width }}px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[13].id }}/{{ tests.list[13].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[13].id }}/{{ tests.list[13].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[12].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[14].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[13].author }}</h2>
      <h3>{{ tests.list[13].title }}</h3>

      <ul>
        <li>{{ tests.list[13].place }}</li>
        <li>Инв. {{ tests.list[13].inv }}</li>
        <li>{{ tests.list[13].material }}</li>
        <li>В. {{ tests.list[13].size }} см.</li>
        <li>{{ tests.list[13].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Статуэтка «Танцующий Амур», в современном своем состоянии могущая представлять печальный памятник военным
      событиям, имеет длительную историю: в XVII столетии она принадлежала Джованни Пьетро Беллори (1613-1696),
      итальянскому художнику и антиквару, знатоку и историку искусства, считалась произведением времен античности и
      именно в таком качестве поступила в собрание Бранденбургских курфюрстов в 1698 году. В самом начале XIX века эта
      статуэтка, вместе с рядом других художественных ценностей, была захвачена наполеоновскими войсками и отправлена в
      Париж, где вошла в состав Музея Наполеона, располагавшегося в Лувре. Позже была возвращена обратно в Берлин. Лишь
      в 1892 году Вильгельм фон Боде разглядел в ней произведение скульптуры итальянского Ренессанса, и предложил
      считать статуэтку собственноручной работой Донателло, близкой по времени исполнения к фигуркам танцующих путто
      Сиенского баптистерия – эта точка зрения, впрочем, не нашла достаточной поддержки. В послевоенное время упоминания
      об этой статуэтке почти полностью исчезают из научной литературы. По мнению некоторых современных исследователей,
      она может быть произведением римского скульптора первой четверти XVI века. Ряд аналогий с берлинской фигуркой
      можно найти и в многочисленных фигурках путто, выполненных в мастерской венецианского скульптора Никколо
      Роккатальята (ок. 1560 -1636).
    </p>
    <p><i>Реставрация</i></p>
    <p>Поверхность очищена от загрязнений, проведено укрепление окисного слоя. Определен состав металла и методом
      нейтронной томографии в скульптуре выявлены зоны потенциального разрушения, что было учтено при изготовлении
      опорного каркаса.</p>
  </div>
</section>

{% endblock %}
