---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "16-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

{% import "../templates/data/data.html" as tests %}

<section class="card  card--horizontal">

  <div class="before-after" style="max-width: 800px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[15].id }}/{{ tests.list[15].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[15].id }}/{{ tests.list[15].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[14].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[16].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[15].author }}</h2>
      <h3>{{ tests.list[15].title }}</h3>

      <ul>
        <li>{{ tests.list[15].place }}</li>
        <li>Инв. {{ tests.list[15].inv }}</li>
        <li>{{ tests.list[15].material }}</li>
        <li>{{ tests.list[15].size }} см.</li>
        <li>{{ tests.list[15].fact }}</li>
        <li>{{ tests.list[15].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Две терракотовых фигуры, изображающие полулежащих на возвышении игривых младенцев-путто, были приобретены в 1882
      году в Париже известным коллекционером Оскаром Хайнауэром и подарены им Музеям Берлина. Положение тела одной из
      фигур (опирается на правую руку) весьма точно повторяет рисунок из альбома набросков мастерской Верроккьо,
      (хранится сейчас в парижском Лувре). Существуют скульптурные повторения этого же сюжета в уменьшенном размере,
      выполненные в бронзе (Метрополитен-Музей, Нью-Йорк), мраморе (Музей де Янга, Сан Франциско), и в технике
      глазурованной терракоты (Нью-Йорк, частное собрание). Кроме того, удается проследить использование этого наброска
      фигуры в живописных произведениях – например, Альбрехт Дюрер, побывавший в Венеции в 1506 году, использовал его
      для позы младенца-Христа («Мадонна с Грушей», 1516, Вена, Музей истории искусства). В дошедшем до наших дней
      перечне имущества мастерской Верроккьо упоминались как раз две терракотовые фигуры лежащих мальчиков длиною в один
      браччо (58.36 см.), что дало повод исследователям отождествлять с ними фигуры из берлинского собрания, приписывая
      их различным ученикам мастера. Линда Пизани, автор недавней (2007) монографии о Франческо ди Симоне Ферруччи
      (1473-1497), приписывает фигуры путто этому скульптору, предполагая также возможное участие ассистента по имени
      Сандро ди Марко в их изготовлениии, и датирует их 1486-87 гг. Необходимо отметить, что опирающаяся на левую руку
      фигурка отличается заметно худшим качеством изготовления и обработки поверхности и явно сделана в качестве
      «зеркального» повторения первой фигуры.</p>
  </div>
</section>

{% endblock %}
