---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "17-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

{% import "../templates/data/data.html" as tests %}

<section class="card">

  <div class="before-after">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[16].id }}/{{ tests.list[16].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[16].id }}/{{ tests.list[16].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[15].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[17].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[16].author }}</h2>
      <h3>{{ tests.list[16].title }}</h3>

      <ul>
        <li>{{ tests.list[16].place }}</li>
        <li>Инв. {{ tests.list[16].inv }}</li>
        <li>{{ tests.list[16].material }}</li>
        <li>{{ tests.list[16].size }} см.</li>
        <li>{{ tests.list[15].fact }}</li>
        <li>{{ tests.list[16].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Это трогательное изображение Мадонны с младенцем, выполненное в технике глазурованной терракоты, было
      преподнесено в дар берлинским музеям в 1888 графом Августом Донгоф-Фридриштайном, который приобрел его во
      Флоренции у знаменитого антиквара Стефано Бардини. Типичный для мастерской Делла Роббиа мотив изображения
      полуфигуры Марии с младенцем можно поставить в один ряд с аналогичными по размеру и близкими по иконографии
      произведениями из Метрополитен-Музея («Мадонна Блисс») и Музея изящных искусств в Бостоне (коллекция Шоу), а также
      с рельефами в капеллах церкви Колледжата в Импрунете близ Флоренции. Тип «Мадонны Фридрихштайн», вместе с
      характерным рисунком обрамления, имитирующего каменную мозаику, наиболее точно повторен в версии из музея
      Албрайт-Нокс, Буффало, США (ранее - в церкви капуцинов в Санта Фьора близ Сиены). Лишенным оснований кажется
      предположение некоторых исследователей о том, что версии из Буффало и Берлина были выполнены как оттиски с одной и
      той же формы, так как отличия в мелких деталях достаточно велики. В качестве датировки их Джон Поуп-Хеннесси
      предлагал 1435-1440 гг., Джанкарло Джентилини -1445-1450 г.
    </p>
    <p><i>Реставрация</i></p>
    <p>Проведены исследования. Реставрационные работы планируется провести в 2021 г.</p>
  </div>
</section>

{% endblock %}
