---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "18-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

{% import "../templates/data/data.html" as tests %}

<section class="card  card--horizontal">

  <div class="before-after">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[17].id }}/{{ tests.list[17].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[17].id }}/{{ tests.list[17].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[16].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[18].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[17].author }}</h2>
      <h3>{{ tests.list[17].title }}</h3>

      <ul>
        <li>{{ tests.list[17].place }}</li>
        <li>Инв. {{ tests.list[17].inv }}</li>
        <li>{{ tests.list[17].material }}</li>
        <li>{{ tests.list[17].size }} см.</li>
        <li>{{ tests.list[17].fact }}</li>
        <li>{{ tests.list[17].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Рельеф «Бичевание Христа», купленный в музеи Берлина во Флоренции в самом конце XIX столетия Вильгельмом фон Боде
      при посредничестве могущественного итальянского антиквара Стефано Бардини, относится к числу наиболее интересных и
      неоднозначных памятников бывшего берлинского собрания. Носивший старую атрибуцию Микеланджело и происходивший из
      собрания знаменитого флорентийского рода Перруцци, рельеф был определен Боде как ранняя работа Донателло 1420-х
      годов, близкая по времени исполнения «Пиру Ирода» для баптистерия в Сиене. Рельеф плотно вошел в корпус работ
      мастера до 1958 года, пока авторитетная монография Х.В. Янсона не отвела его неизвестному скульптору 1480-х годов.
      Новые данные, полученные при исследовании рельефа, и ряд сведений, полученных в долгое время недоступном для
      исследований архиве Бардини, позволяют с очень большой долей вероятности предполагать, что автором рельефа в
      действительности был талантливый скульптор XIX столетия, создавший блестящую фальсификацию, не раскрытую
      специалистами за более чем столетний период.
    </p>
    <p><i>Реставрация</i></p>
    <p>При проведении исследований совместно с Курчатовским институтом выяснилось, что мрамор сильно деструктировал,
      утратил свойства камня, превратился в известь. Рельеф стал настолько хрупким, что осыпается при каждом
      прикосновении. Специалисты из ИРЕА разработали специальный состав для бережной очистки поверхности от копоти,
      благодаря чему планируется сначала провести очистку, затем укрепить каждый фрагмент, специально подобранным
      составом и впоследствии собрать рельеф на специально изготовленном основании.</p>
  </div>
</section>

{% endblock %}
