---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "20-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

{% import "../templates/data/data.html" as tests %}

<section class="card">

  <div class="before-after">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[19].id }}/{{ tests.list[19].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[19].id }}/{{ tests.list[19].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[18].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[20].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[19].author }}</h2>
      <h3>{{ tests.list[19].title }}</h3>

      <ul>
        <li>{{ tests.list[19].place }}</li>
        <li>Инв. {{ tests.list[19].inv }}</li>
        <li>{{ tests.list[19].material }}</li>
        <li>{{ tests.list[19].fact }}</li>
        <li>{{ tests.list[19].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Этот бюст молодой женщины был приобретен Вильгельмом фон Боде для музеев Берлина во Флоренции в 1877 году. Сделка
      по его покупке у старинного флорентийского рода Строцци, устроенная при посредничестве Стефано Бардини, стала
      настоящим событием. С самого момента своего обнаружения бюст окружали мифы и легенды – в найденном на
      принадлежавшей Строцци загородной вилле бюсте видели тот самый, описанный у Джорджо Вазари в «Жизнеописаниях...»
      портрет Мариетты Строцци работы Дезидерио де Сеттиньяно. Затем, в 1888 году, Боде изменил атрибуцию предмета,
      сочтя автором работавшего в Неаполе скульптора из Далмации Франческо Лаурану, чьи женские портреты, хранящиеся в
      Вене, Палермо, Флоренции и Нью-Йорке очень схожи с этим. Пользовавшийся громадной популярностью, берлинский бюст
      известен во множестве копий и репродукций, производившихся и после того, ка кон был разрушен в 1945 году. Сегодня
      он разделен надвое между музейными собраниями Москвы и Берлина. По иронии судьбы, его оценки специалистами сегодня
      также противоречивы. Вышедшее в 2000 году исследование Хриссы Дамианаки поставило под сомнение подлинность этого и
      нескольких других портретных бюстов, приписываемых Франческо Лауране. Эта точка зрения, нашедшая поддержку у
      ведущих музейных специалистов (Энтони Рэдклифф, Фолькер Кран), активно отрицалась другими известными историками
      искусства (Джон Поуп-Хеннесси, Ханно-Вальтер Круфт, Франческо Кальоти) и до сих пор не является общепринятой.
    </p>
    <p><i>Реставрация</i></p>
    <p>После войны части одного произведения оказались в разных музеях и даже в разных государствах: торс в ГМИИ им.
      А.С. Пушкина в Москве, а голова в Боде Музее в Берлине. Коллеги из Берлина предоставили специалистам ГМИИ им. А.С.
      Пушкина гипсовую отливку головы принцессы. Торс сильно пострадал в пожаре.</p>
  </div>
</section>

{% endblock %}
