---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "26-eng" %}
{% set id = "26" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card  card--vertical">

  <div class="before-after" style="max-width: 517px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[25].id }}/{{ tests.list[25].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[25].id }}/{{ tests.list[25].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[24].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[26].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50"
            alt=""></a>
      </div>
      <h2>{{ tests.list[25].author }}</h2>
      <h3>{{ tests.list[25].title }}</h3>

      <ul>
        <li>{{ tests.list[25].place }}</li>
        <li>Инв. {{ tests.list[25].inv }}</li>
        <li>{{ tests.list[25].material }}</li>
        <li>В. {{ tests.list[25].size }} см.</li>
        <li>{{ tests.list[25].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>Этот погрудный бронзовый бюст необычной формы был приобретен музеями Берлина в 1888 году у антиквара и
      коллекционера Шарля Зедельмайера (1837-1925) в Париже. Памятник имеет примечательную историю. Во Франции он
      находился с начала XIX столетия – будучи вывезенным из Италии во времена наполеоновских походов, бюст попал в
      коллекцию барона Доминика-Вивана Денона (1747-1825), первого директора Лувра, где ошибочно считался портретом
      Петрарки. В действительности же, портрет изображает Джованни Баттиста Спаньоли (1448-1516), генерала кармелитского
      монашеского ордена и популярного в XV веке придворного поэта мантуанских герцогов. Как и аналогичный по форме
      бронзовый бюст главного живописца города - Андреа Мантеньи, по сей день украшающий капеллу в церкви Сант-Андреа в
      Мантуе, портрет Кавалли был снабжен массивным декоративным обрамлением, состоящим из порфирового диска и
      рельефного фриза. Оба бюста с некоторой долей условности считаются работами мантуанского скульптора Джан Марко
      Кавалли, и могут восходить к проектам самого Мантеньи. Произведение отличает тонкая деталировка черт лица и
      высокое качество исполнения.
    </p>
    <p><i>Реставрация</i></p>
    <p>Определен состав металла. Проведена очистка и укрепление поверхности.</p>
  </div>
</section>

{% endblock %}
