---
title: Страница предмета
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "index" %}
{% set page_lang_link = "30-eng" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
{% import "../templates/data/data.html" as tests %}

<section class="card  card--vertical">

  <div class="before-after" style="max-width: 517px;">
    <!-- The before image is first -->
    <img src="img/state/{{ tests.list[29].id }}/{{ tests.list[29].id }}-before.jpg" alt="Фотография до реставрации">
    <!-- The after image is last -->
    <img src="img/state/{{ tests.list[29].id }}/{{ tests.list[29].id }}-after.jpg" alt="Фотография после реставрации">
  </div>

  <div class="card__description">
    <div class="card__text">

      <div class="arrows">
        <a href="{{ tests.list[28].id }}.html" class="arrows__link"><img src="img/left-arrow.svg" width="50" alt=""></a>
        <a href="{{ tests.list[0].id }}.html" class="arrows__link"><img src="img/right-arrow.svg" width="50" alt=""></a>
      </div>
      <h2>{{ tests.list[29].author }}</h2>
      <h3>{{ tests.list[29].title }}</h3>

      <ul>
        <li>{{ tests.list[29].place }}</li>
        <li>Инв. {{ tests.list[29].inv }}</li>
        <li>{{ tests.list[29].material }}</li>
        <li>В. {{ tests.list[29].size }} см.</li>
        <li>{{ tests.list[29].masters }}</li>
      </ul>
    </div>
  </div>
  <div class="card__article">
    <p>К числу наиболее известных работ французского скульптора Жана-Антуана Гудона (1741-1828), снискавшего славу из
      самых талантливых портретистов своего времени, относятся портреты Вольтера, выполненные им в разных материалах и
      подразделяющиеся на несколько типов. Все они получили огромную популярность и неоднократно тиражировались
      литейщиками и позднейшими копиистами XIX- XX столетий. На фоне этого обстоятельства тем более ценно то, что
      бронзовый бюст Вольтера из бывшего собрания Музея Кайзера Фридриха (подарен советником юстиции Карлом Лессингом к
      открытию музея в 1905 году) является произведением, выполненным при жизни и при непосредственном участии мастера.

    </p>
    <p>Гудон, впервые портретировавший 84-летнего Вольтера в Париже с натуры за несколько недель до его смерти в 1778
      году, сперва исполнил только голову в мраморе (Анжер, музей Изящных Искусств), а затем переработал портрет,
      снабдив его париком и костюмом по современной французской моде. Екатерина II, состоявшая в переписке с Вольтером и
      опечаленная известием о его смерти, в том же году приобрела обе версии – с непокрытой головой (в бронзе, ныне в
      собрании ГМИИ им. А.С.Пушкина) – и вариант в костюме “a la française” (гипс, местонахождение неизвестно). Из этих
      двух она решительно предпочитала первый вариант. В соответствии с пожеланием императрицы, Гудон исполнил и третий
      вариант бюста, снабдив изначальный портрет римской тогой, украшенной оторочкой с изображением лавровых листьев
      (мрамор, Государственный Эрмитаж, Санкт-Петербург). Все версии бюста имеют одинаковые подпись и дату – 1778 год.
      По мнению Гильома Шерфа, хранителя скульптуры Лувра, именно этот бронзовый бюст «на античный манер», повторяющий
      мраморный оригинал в Петербурге, экспонировался на парижском Салоне 1791 года, а гипсовый прототип для обеих
      версий находится в собрании Герцогского музея г. Гота (Германия).
    </p>
    <p><i>Реставрация</i></p>
    <p>Определен состав металла. Проведена очистка поверхности. Удалены пятна активной коррозии на внутренней
      поверхности скульптуры. При демонтаже обнаружен датский далер в качестве крепежного элемента.</p>
  </div>
</section>

{% endblock %}
