---
title: О выставке
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "about" %}
{% set page_lang_link = "about-eng" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}
<section class="text">
  <div class="text__wrapper">
    <div class="text__promo">
      <p>Фотовыставка «Дважды спасенные» организованна совместными усилиями Государственного музея изобразительных
        искусств имени А. С. Пушкина и Российского центра науки и культуры в Ченнаи (Индия). Выставка, приуроченная к
        75-летию Великой Победы, из-за ситуации с коронавирусом будет открыта 3 сентября 2020 года. На ней будут
        представлены фотографии, показывающие результаты многолетней работы реставраторов музея с предметами искусства,
        которые пострадали в годы Второй мировой войны.</p>
      <p>По окончании войны в 1945 году в ГМИИ им. А. С. Пушкина поступили художественные ценности, вывезенные из
        Германии в Советский Союз в качестве компенсаторной реституции. В первое послевоенное десятилетие усилия
        музейных специалистов — хранителей и реставраторов — были направлены на спасение шедевров живописи Дрезденской
        галереи, многие из которых требовали немедленных реставрационных мероприятий.</p>
      <p>В начале 2000-х годов научные сотрудники музея и реставраторы мастерской прикладного искусства приступили к
        изучению и реставрации памятников античного искусства, в том числе большого количества обгорелых и
        деформированных фрагментов и обломков керамики, металла, кости и стекла. Результаты многолетней работы
        коллектива реставраторов из нескольких музеев и специализированных мастерских Москвы были продемонстрированы на
        выставках ГМИИ «Археология войны. Возвращение из небытия» (2005) и «Искусство Древнего Кипра» (2014). За 10 лет
        было восстановлено и отреставрировано более 750 музейных предметов. В 2015 году совместно с Музеем Боде был
        начат проект реставрации бронзовых скульптур Донателло, а также произведений других мастеров западноевропейской
        скульптуры эпохи Возрождения.</p>
      <p>Фотовыставка «Дважды спасенные» представляет лишь небольшую часть отреставрированных в мастерских Пушкинского
        музея предметов из фонда перемещенных культурных ценностей — 30 фотографий уникальных произведений античного и
        западноевропейского прикладного искусства. Созданный специально для этого проекта раздел на сайте отдела
        реставрации ГМИИ познакомит вас с историей музейных коллекций, судьбой отдельных памятников и замечательными
        результатами работы реставраторов, благодаря мастерству которых памятники мирового значения обрели вторую жизнь.
      </p>
    </div>
    <h2 class="title">Музей кайзера Фридриха</h2>
    <p>Государственные музеи Берлина — одно из самых старых и разветвленных музейных объединений в Западной Европе.
      История берлинских музеев началась с художественного собрания бранденбургских курфюрстов — так называемой
      кунсткамеры, сформировавшейся в конце XVI века. В течение последующих веков собрание непрерывно пополнялось, что
      привело к разделению его на несколько музейных коллекций. Сформировавшиеся на основе кунсткамеры, собрания
      предметов естественной истории и античного искусства превратились в отдельные музеи, а наиболее ценные предметы
      декоративно-прикладного искусства составили собрание Берлинского замка. Девятнадцатый век ознаменовался открытием
      множества новых музеев, построенных знаменитым архитектором Карлом Фридрихом Шинкелем (1781–1841) и его учениками.
      Для публики открылись: Королевский музей (ныне — Старый музей, 1830), Новый Музей (1855), Национальная галерея
      (1861), в XX веке получившая наименование «Старая Национальная галерея» после того, как была открыта «Новая».
      Продолжило эру бурного строительства на Музейном острове возведение Музея кайзера Фридриха.</p>
    <p>С самого начала Музей кайзера Фридриха задумывался как музей искусства итальянского Возрождения, ведь в Берлине к
      этому времени была собрана едва ли не самая значительная за пределами Италии музейная коллекция итальянской
      скульптуры и живописи. Инициатором и вдохновителем идеи создания музея со своим зданием и коллекцией был Вильгельм
      фон Боде (1845–1929) — искусствовед и музейный деятель, многие годы ведший беспрецедентную кампанию по
      приобретению предметов искусства в Италии и за ее пределами. В интерьерах новооткрытого музея нашел отражение вкус
      Боде как собирателя: живопись, скульптура и предметы декоративно-прикладного искусства выставлялись вместе, что
      отличало обстановку музея от традиционной. Отдельные залы, такие как Ротонда или Базилика, были попыткой
      воссоздать архитектуру и внутреннее убранство итальянских церквей. Другие, наполненные множеством мелких
      предметов, становились своего рода кабинетами редкостей, напоминавшими интерьеры домов частных коллекционеров.
    </p>
    <p>Через несколько лет очередь расширять помещения дошла до берлинского Античного собрания — в 1910 году на
      близлежащей территории началось строительство Пергамон-музеума. Помимо знаменитого Пергамского алтаря в нем были
      выставлены коллекции Переднеазиатского музея и Музея исламского искусства. C 1930 по 1939 год рядом располагался
      Немецкий музей, в котором были представлены шедевры немецкой скульптуры.</p>

    {% import "../templates/data/slider.html" as slides %}

    <section class="slider" id="1">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider1 %}
        <li class="Slider__item">
          <a href="img/articles/1/1.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/1/1.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
<section class="text">
  <div class="text__wrapper">
    <h2 class="title">Бункер в парке Фридрихсхайн</h2>
    <p>С началом Второй мировой войны руководство Государственных музеев Берлина озаботилось вопросом сохранения
      ценностей из музейных коллекций. В 1939 году экспозиции на Музейном острове были закрыты для публики, памятники
      упакованы и подготовлены к транспортировке.</p>
    <p>Большое количество самых разных произведений искусства — античного, западноевропейского, азиатского и иного —
      было размещено в нескольких хранилищах в Берлине и его пригородах, считавшихся безопасными. Первоначальный план
      немецкого военного командования не предполагал, что город подвергнется атаке с воздуха, однако уже в августе 1940
      года первые бомбардировки Берлина английскими военно-воздушными силами показали, что это не так.</p>
    <p>Ответом на воздушную угрозу стало сооружение в трех крупных парках Берлина — в Зоологическом саду, Фридрихсхайне
      и Гумбольдтхайне — так называемых флактурмов — массивных бетонных сооружений размером около 60×60 м, оснащенных
      зенитными орудиями. Место размещения (вдали от городских домов) и высота башен были продиктованы необходимостью
      иметь широкий сектор обстрела. Прозванные проектировщиком Фридрихом Таммсом «стреляющими соборами», зенитные башни
      имели к тому же немалый идеологический смысл — они должны были символизировать колоссальную военную мощь, вносить
      успокоение и надежду в души горожан. За их архитектурное оформление отвечало бюро Альберта Шпеера, который лично
      обсуждал эскизы с Адольфом Гитлером.</p>
    <p>Техническое устройство каждой зенитной батареи требовало кроме основной орудийной башни иметь на небольшом
      расстоянии от нее еще одно укрепленное сооружение, откуда велись наведение и радиолокация. Эти многоэтажные
      постройки с железобетонными стенами около двух метров толщиной получили название «ляйттурмов» («башни
      управления»). Их окна и двери имели стальные щиты толщиной 5–10 см с массивными запорными механизмами, а объем
      здания составлял около 40 тыс. м3. После размещения оборудования и личного состава люфтваффе в башнях управления
      оставалось еще немало свободного места. Поэтому в двух из них — в Зоологическом саду и в парке Фридрихсхайн —
      администрации Музеев Берлина была предоставлена возможность укрыть коллекции.</p>
    <p>В башне в Фридрихсхайне в нижнем ярусе разместили более 1600 картин из собрания Берлинской картинной галереи, а
      этажом выше — фонды скульптуры Музея кайзера Фридриха, Античного собрания, Музея декоративно-прикладного
      искусства, Национальной галереи и собрание азиатского искусства.</p>

    {% import "../templates/data/slider.html" as slides %}



    <section class="slider" id="2">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider2 %}
        <li class="Slider__item">
          <a href="img/articles/2/2.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/2/2.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</section>
<section class="text">
  <div class="text__wrapper">
    <h2 class="title">Берлин, 1945</h2>
    <p>Уже в конце 1944 года берлинские укрепленные хранилища, надежно защищавшие произведения искусства в
      предшествующие годы войны, перестали внушать уверенность немецкому командованию. В обстановке строгой
      секретности и нехватки транспортных средств с ноября 1944-го по апрель 1945-го несколько грузовых экспедиций
      эвакуировали более 1200 картин из бункера в Фридрихсхайне в соляную шахту «Кайзерода» в местечке Меркерс
      приблизительно в 400 км к юго-западу от Берлина. Именно там вместе с другими ценными находками — золотым запасом
      Рейхсбанка и знаменитым бюстом Нефертити — в апреле 1945 года они были обнаружены силами армии США, имевшей в
      составе специальное подразделение, созданное для поиска произведений искусства (MFA&A).
    </p>
    <p>Участь оставшейся в Берлине части собраний была иной. С момента взятия города советскими войсками 2 мая 1945
      года усилия трофейных бригад, выполнявших во многом схожую с подразделением вооруженных сил США функцию, были
      сосредоточены на эвакуации произведений из бункера Цоо. В соответствии с соглашением о четырехстороннем
      разделении Берлина территория Зоологического сада должна была находиться в британском секторе оккупации, и
      музейные фонды перешли бы союзникам. Все ценности из хранилища, в том числе знаменитый «Клад Приама», в спешном
      порядке были эвакуированы в сторону советского плацдарма Берлин — Карлсхорст для последующей отправки в СССР.
      Огромную сложность в транспортировке представляли монументальные рельефы Пергамского алтаря.</p>
    <p>К этому моменту в бункере в Фридрихсхайне, формально находившемся под контролем советских войск, уже произошел
      первый из двух разрушительных пожаров. Сначала загорелось хранилище в нижнем ярусе, где размещались картины
      большого формата — их эвакуация оказалась невозможна. Более 400 первоклассных произведений искусства, среди
      которых были семь крупных работ Рубенса и мастерской, прославленные «Святой Матфей» Караваджо и «Царство Пана»
      Синьорелли, безвозвратно погибли. За первым пожаром, случившимся между 5 и 6 мая, последовал второй,
      произошедший между 14 и 18 мая и уничтоживший музейное хранилище в верхнем ярусе бункера. Среди множества
      укрытых там фондов были: античная и средневековая скульптура, византийское, китайское, японское искусство,
      декоративная керамика, ювелирные изделия, монеты, рамы. Причины и точные обстоятельства как первого, так и
      второго пожара доподлинно не установлены, хотя есть веские основания считать, что по крайней мере один из них
      стал результатом поджога.
    </p>

    {% import "../templates/data/slider.html" as slides %}

    <section class="slider" id="3">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider3 %}
        <li class="Slider__item">
          <a href="img/articles/3/3.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/3/3.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</section>
<section class="text">
  <div class="text__wrapper">
    <h2 class="title">ГМИИ им. А. С. Пушкина, 1945–1946</h2>
    <p>В отличие от картин, находившиеся в бункере в Фридрихсхайне предметы скульптуры, керамики и декоративного
      искусства не были полностью уничтожены огнем. Уже первый анализ показал, что из-под слоя пепла и мусора,
      образовавшегося в хранилище в результате пожара, можно спасти часть фондов. Работы, начавшиеся осенью 1945 года
      под руководством археолога, профессора Московского университета В. Д. Блаватского и продлившиеся до весны
      1946-го, представляли собой полноценные археологические раскопки — важнейшей задачей было идентифицировать
      каждый найденный предмет. Несколько тысяч извлеченных фрагментов были отправлены двумя разными поездами в Москву
      и Ленинград, что привело к разделению фондов.</p>
    <p>Директор ГМИИ им. А. С. Пушкина С. Д. Меркуров, настаивавший на пополнении фондов трофейными коллекциями,
      несколько переоценил возможности музея, нуждавшегося в помещениях и специалистах. О том, чтобы приступить к
      полноценной реставрации произведений из берлинских собраний в стенах ГМИИ, где в это же время находились
      коллекция Дрезденской галереи и несколько других, привезенных из разных регионов Германии, не могло быть и речи
      — в самом московском музее, пережившем эвакуацию фондов и испытавшем на себе все тяготы военного времени,
      имелось немало проблем. Тем не менее значительный объем консервационных мероприятий — идентификация, склейка
      фрагментов, очистка — был проведен в начале 1950-х годов силами небольшого числа реставраторов.</p>

    <p>Амбициозным планам Меркурова по созданию музея мирового искусства не суждено было сбыться, а в политике СССР по
      вопросу трофейного искусства в 1950-е годы наметился иной курс. Отчасти следуя примеру американского
      правительства, возвратившего музеям Западного Берлина 200 шедевров живописи, которые после войны были вывезены в
      затяжное турне по городам США, СССР развернул масштабную кампанию по возврату перемещенных ценностей в музеи
      Восточной Германии и Польши. Возвращение картин Дрезденской галереи, которому предшествовала выставка в Москве,
      стало самым известным ее эпизодом. В результате передач 1955–1958 годов из вывезенных советскими войсками 2,5
      млн предметов порядка 1,5 млн вернулись в ГДР. Перед отправкой в Москве и Ленинграде прошли выставки, которые
      посетили свыше 1 млн человек. После их завершения экспонаты были доставлены в Берлин, где незадолго до этого
      старое здание Музея кайзера Фридриха было открыто для публики под новым названием — «Музей Боде». Значительную
      часть экспозиции в нем заняли скульптуры, извлеченные из бункера в Фридрихсхайне и отреставрированные в
      Советском Союзе.</p>

    {% import "../templates/data/slider.html" as slides %}

    <section class="slider" id="4">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider4 %}
        <li class="Slider__item">
          <a href="img/articles/4/4.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/4/4.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</section>
<section class="text">
  <div class="text__wrapper">
    <h2 class="title">Работа с фондом перемещенных ценностей в 2000–2016 годах</h2>
    <p>Однако не все предметы, извлеченные из бункера в Фридрихсхайне, были переданы ГДР. Немало фрагментированных,
      потерявших первоначальный вид и нуждающихся в масштабных реставрационных работах памятников осталось на хранении в
      музеях Москвы и Ленинграда. Можно с уверенностью утверждать, что опасения испортить положительный политический
      эффект от возвращения вновь обретенных и отреставрированных произведений искусства Восточной Германии передачей
      предметов, слишком напоминающих инвалидов войны, сыграли в этом решающую роль. Вместе с тем, оставаясь в фондах
      советских музеев на особом секретном положении и занимая ограниченные ресурсы хранения, эти произведения не могли
      быть выставлены или как-то использованы. Временным решением проблемы стала передача предметов Архиву
      художественных произведений при Министерстве культуры СССР, состоявшаяся в 1963 году. Из этого депозитария,
      разместившегося на территории Троице-Сергиевой лавры в Загорске (ныне — Сергиев Посад), предметы особого фонда
      начали возвращаться в музей лишь после распада СССР, в конце 1990-х — начале 2000-х годов. Несколько десятилетий
      памятники были покрыты завесой секретности: их видели лишь несколько музейных хранителей, приезжавших с
      инспекциями, для исследователей и посетителей музеев они фактически перестали существовать.</p>
    {% import "../templates/data/slider.html" as slides %}

    <section class="slider" id="5">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider5 %}
        <li class="Slider__item">
          <a href="img/articles/5/5.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/5/5.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
    <p>Заняться исследованием и обработкой всего этого материала довелось только следующим поколениям музейных
      хранителей и реставраторов. Нередко они не имели никакой информации о работе своих предшественников в 1950-е годы.
      К реставрации фонда античной керамики, представлявшего собой обгорелые и деформированные фрагменты, упакованные в
      газеты военного времени, специалисты ГМИИ приступили в 2002 году. Итогом работы огромного коллектива реставраторов
      из нескольких музеев и специализированных мастерских стала выставка «Археология войны. Возвращение из небытия»,
      открывшаяся в апреле 2005 года. На ней были представлены именно те произведения античной керамики, предметы из
      бронзы и резной кости, которые находились в бункере в Фридрихсайне. Многие повреждения на первый взгляд казались
      необратимыми, а сложности, с которыми столкнулись реставраторы, требовали разработки особых методик. Выставка
      показала важность сотрудничества с коллегами из Германии, в тот момент только начинавшегося. В ноябре 2005 года
      состоялся реставрационный коллоквиум с участием реставраторов из Берлина, работающих над идентичными задачами. К
      следующему проекту, посвященному искусству Древнего Кипра, реставраторы ГМИИ подошли, уже имея богатый опыт, что
      позволило представить более 300 отреставрированных экспонатов — расписных ваз, терракот и миниатюрных статуэток от
      бронзового века до эпохи Римской империи — на выставке в 2014 году. </p>
    {% import "../templates/data/slider.html" as slides %}

    <section class="slider" id="6">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider6 %}
        <li class="Slider__item">
          <a href="img/articles/6/6.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/6/6.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>

<section class="text">
  <div class="text__wrapper">
    <h2 class="title">Исследование и реставрация скульптур Донателло и других мастеров эпохи Ренессанса из фонда
      перемещенных ценностей</h2>
    <p>В 2015 году ГМИИ им. А. С. Пушкина приступил к новому проекту, посвященному реставрации скульптур итальянского
      Возрождения из бывшего берлинского собрания. Проект, с самого начала задуманный как взаимодействие двух музеев,
      ведется в сотрудничестве с берлинским Музеем Боде.
    </p>
    <p>Сохраняющиеся в запасниках московского музея произведения знаменитых мастеров Ренессанса — Донателло, Андреа дель
      Вероккьо, Луки делла Роббиа и других — представляют собой чрезвычайно сложный для реставрации материал.
      Выполненные из мрамора и известняка, скульптуры плохо переносят высокие температуры, теряя под их воздействием
      структурную прочность. Реставрация многих из них требует уникальных методик и специальных исследований.</p>

    <p>С марта 2016 года российские и немецкие реставраторы обмениваются опытом и методиками работы. Участие берлинских
      специалистов оказывает действенную помощь российским реставраторам еще и потому, что в Берлине сохранились
      оригинальные формы, снятые со скульптур для выполнения гипсовых слепков. Эти формы дают представление о
      первоначальном виде памятников и используются для восполнения недостающих деталей. С 2018 года российские
      специалисты проходят стажировки в Берлине, где работают над памятниками с аналогичными повреждениями.</p>

    <p>С российской стороны к проекту присоединились специалисты Национального исследовательского центра «Курчатовский
      институт», сотрудничающего с ГМИИ им. А. С. Пушкина в нескольких областях. Длительная реставрация не стала
      препятствием для возвращения художественно значимых произведений скульптуры в научный оборот. Серия конференций,
      проведенных московскими и берлинскими хранителями в Берлине (Музей Боде), Флоренции (Институт истории искусств
      Института Макса Планка) и Тренто (Трентский университет), представила научной общественности промежуточные
      результаты и анонсировала существование 57 скульптур, считавшихся утраченными после Второй мировой войны. Для
      публики открылся специальный раздел на сайте www.museumconservation.ru, содержащий фотографии, информацию и
      реставрационные досье на предметы, включенные в проект. Информация переведена на четыре европейских языка и
      регулярно обновляется. В январе 2019 года в экспозиции ГМИИ была представлена первая отреставрированная в рамках
      проекта бронзовая статуя «Иоанн Креститель», считающаяся работой знаменитого флорентийского скульптора Донателло.
      Завершить ее реставрацию позволило обнаружение в фондах оригинальных фрагментов, считавшихся утраченными. Это одно
      из ценнейших произведений, доступное теперь посетителям музея со всего мира. Выставка еще 15 отреставрированных
      бронзовых скульптур запланирована на октябрь 2020 года.
    </p>

    {% import "../templates/data/slider.html" as slides %}

    <section class="slider" id="7">
      <ul class="slider__list popup-gallery">
        {% for slide in slides.slider7 %}
        <li class="Slider__item">
          <a href="img/articles/7/7.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/7/7.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
        {% for slide in slides.slider8 %}
        <li class="Slider__item">
          <a href="img/articles/8/8.{{slide.id}}.jpg" data-title="{{slide.title}}" data-effect="mfp-zoom-in"><img
              src="img/articles/8/8.{{slide.id}}.jpg" alt="{{slide.title}}" loading="lazy">
          </a>
          <p class="slider__text">{{slide.title}}</p>
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</section>

{% endblock %}
