---
title: Partners
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "partners" %}
{% set page_lang_link = "partners" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout-eng.html" %}

{% block content %}

<section class="card">
  <div class="card__article">

    <div class="partners">
      <h2>
        <div class="partners__logo"><img src="img/bode.jpg"
            alt="Скульптурное собрание и Музей византийского искусства, Государственные музеи Берлина" width="140">
        </div>
        <a href="https://www.smb.museum/museen-und-einrichtungen/bode-museum/home.html"
          target="_blank">Skulpturensammlung und Museum für Byzantinische Kunst, <br> Staatliche Museen zu Berlin</a>
      </h2>
      <h2>
        <div class="partners__logo"><img src="img/kurch.jpg" width="140" height="140"></div> <a
          href="http://www.nrcki.ru/" target="_blank">The Kurchatov Institute</a>
      </h2>
      <h2>
        <div class="partners__logo"><img src="img/evs.jpg" width="140"></div> <a
          href="http://www.ernst-von-siemens-kunststiftung.de/startseite.html" target="_blank">Ernst von Siemens
          Kunststiftung</a>
      </h2>
      <h2>
        <div class="partners__logo"><img src="img/trento.jpg" width="140">
        </div> <a href="https://webapps.unitn.it/du/en/StrutturaAccademica/STO0008632/Persone"
          target="_blank">University of Trento's <br> Department of Humanities</a>
      </h2>
      <h2>
        <div class="partners__logo"><img src="img/fenomen-eng.jpg" width="140">
        </div> <a href="http://art-fenomen.ru/" target="_blank">Fenomen</a>
      </h2>
    </div>
  </div>
</section>




{% endblock %}
