---
title: Press
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "press" %}
{% set page_lang_link = "press" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout-eng.html" %}

{% block content %}

<ul class="press-list">
  <li class="press-list__item">
    <a href="http://museumconservation.ru/news/archive/2020/intermuzey_2020/index.php?lang=en" target="_blank">
      <img src="img/press-5.jpg" alt="News photo">
      <span>01.06.2020</span>
      <p>The Department of Conservation's project - exhibition "Twice Rescued" - was awarded a special diploma of the
        Ministry of Culture at the international festival "Intermuseum-2020".</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="https://tvkultura.ru/article/show/article_id/348149/" target="_blank">
      <img src="img/press-1.jpg" alt="News photo">
      <span>30.07.2019</span>
      <p>Russia-K: Conservation of Renaissance sculptures finished at the Pushkin State Museum (Rus.)</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="https://www.vesti.ru/videos/show/vid/789587#" target="_blank">
      <img src="img/press-2.jpg" alt="News photo">
      <span>25.02.2019</span>
      <p>«Вести-Москва»: Unique sculptures damaged during the war are being saved at the Pushkin State Museum (Rus.)
      </p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="https://tvkultura.ru/article/show/article_id/284385/" target="_blank">
      <img src="img/press-3.jpg" alt="News photo">
      <span>30.08.2018</span>
      <p>Russia-K: Restoration of a Donatello sculpture at The Pushkin State Museum</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="http://museumconservation.ru/news/archive/2018/art_newspaper_donatello/index.php?lang=ru" target="_blank">
      <img src="img/press-4.jpg" alt="News photo">
      <span>05.06.2018</span>
      <p>The Art Newspaper Russia: Donatello Project</p>
    </a>
  </li>
</ul>

{% endblock %}
