---
title: Пресса и медиа
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "press" %}
{% set page_lang_link = "press-eng" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

<ul class="press-list">
  <li class="press-list__item">
    <a href="http://museumconservation.ru/news/archive/2020/intermuzey_2020/index.php?lang=ru" target="_blank">
      <img src="img/press-5.jpg" alt="Фото к новости">
      <span>01.06.2020</span>
      <p>Проект отдела реставрации ГМИИ им. А.С. Пушкина — выставка «Дважды спасенные» — награжден специальным дипломом
        Министерства культуры.</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="https://tvkultura.ru/article/show/article_id/348149/" target="_blank">
      <img src="img/press-1.jpg" alt="Фото к новости">
      <span>30.07.2019</span>
      <p>«Россия-Культура»: В ГМИИ им. Пушкина завершили реставрацию скульптур эпохи Ренессанса</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="https://www.vesti.ru/videos/show/vid/789587#" target="_blank">
      <img src="img/press-2.jpg" alt="Фото к новости">
      <span>25.02.2019</span>
      <p>«Вести-Москва»: В Пушкинском музее спасают уникальные скульптуры, пострадавшие в годы войны</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="https://tvkultura.ru/article/show/article_id/284385/" target="_blank">
      <img src="img/press-3.jpg" alt="Фото к новости">
      <span>30.08.2018</span>
      <p>«Россия-Культура»: В ГМИИ им. Пушкина реставрируют скульптуру работы Донателло</p>
    </a>
  </li>
  <li class="press-list__item">
    <a href="http://museumconservation.ru/news/archive/2018/art_newspaper_donatello/index.php?lang=ru" target="_blank">
      <img src="img/press-4.jpg" alt="Фото к новости">
      <span>05.06.2018</span>
      <p>The Art Newspaper Russia: проект Донателло</p>
    </a>
  </li>
</ul>

{% endblock %}
