---
title: Publication Neville Rowley
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "publications" %}
{% set page_lang_link = "publication-2" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout-eng.html" %}

{% block content %}

<section class="text">

  <article class="text__wrapper">
    <h2>Donatello and the two Madonnas
      A Short History of the Berlin Museums’ Sculpture Collection</h2>
    <p>Neville Rowley
    </p>
    <p>There are many ways to tell the story of the Sculpture Collection of the Berlin State Museums. One could list a
      series of outstanding works from Italy and Germany alone: from Presbyter Martinus' Madonna and Child (1199) to
      Antonio Canova's Dancing Girl with Cymbals (1812) in the first case, from Tilman Riemenschneider's Four
      Evangelists (1490-92) to Andreas Schlüter's Apollo and Daphne (1712) in the second. The disadvantage of such an
      enumeration is that it would neglect less important single works, which sometimes take on their full meaning as
      part of a whole – such as the collection of Italian small bronzes and plaquettes, or even the Museum of Byzantine
      Art, which has always been attached to the Sculpture Collection, and always somehow separate from it. One could
      also choose a topographical bias, focusing on the movements of the collection on Museum Island in the 19th and
      first half of the 20th centuries, which were followed by the great separation between East and West during the
      Cold War and, subsequently, by the phase of the Reunification. In fact, each work, each room, even each failed
      acquisition tells a different story; but going through all these stories would inevitably be tiring for the most
      willing reader. We must therefore be selective and thus unfortunately omit.</p>

    <p>I have chosen to tell this story through two works from the Sculpture Collection. Only two works, moreover
      recognizably similar square marble reliefs representing the Virgin and Child, both dated from the 1420s and linked
      to one of the greatest sculptors of the Renaissance, the Florentine Donatello (ca. 1386-1466). The parallels stop
      there: the first work, named the Pazzi Madonna <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/1.jpg">(fig. 1)</a>, is unanimously considered a masterpiece of the artist. It
      even appears on the cover of the Italian version of the collection guidebook, published in 2011 <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/11.jpg">(fig. 11)</a>. The
      second relief, known as the Orlandini Madonna <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/2.jpg">(fig. 2)</a>, has long been considered a work from the school of
      Donatello and is not even included in the collection guidebook, which lists a good 243 items. So why talk about it
      here? Because the story of the fate of the Orlandini Madonna, especially in comparison with that of her quasi
      alter ego, the ‘Pazzi’, is a perfect illustration of the whole history of the Berlin Sculpture Collection. At
      least it is what I would like to demonstrate in this paper.
    </p>

    <h3>Successive Acquisitions</h3>
    <p>In 1830, the Royal Museums of Berlin opened their doors in a large, Greek-inspired building designed by Karl
      Friedrich Schinkel. Sculpture was given pride of place – even if Renaissance sculpture was of little importance.
      Indeed, the era glorified Antique statuary and Italian Renaissance painting, in a paragone inherited from the
      Italian taste of the 18th century and made relevant for the whole of Europe by the nec plus ultra museum of the
      time, Napoleon's Louvre, with its works obtained in part during recent military campaigns. In Berlin, the
      Renaissance sculptures gallery was only an appendix to the painting rooms, mostly notable for the works from the
      Bartholdi collection, acquired in Rome in 1828. Without being in any way comparable to the capital acquisitions of
      paintings from the Solly or Giustiniani collections, the Renaissance sculpture collection could already comprise
      some remarkable works by Andrea della Robbia or Francesco da Sangallo. But no Donatello at all.</p>
    <p>The situation changed, at least apparently, at the beginning of the 1840s. The director of the Paintings
      Collection, Gustav Waagen, made a trip to Italy to expand a Sculpture Collection that was already perceived as
      inferior to the ensemble of paintings. Once again, grouped purchases were the order of the day: in Venice, Waagen
      got his hands on the fabulous Pajaro collection, giving Berlin an almost complete overview of Venetian Renaissance
      sculpture, from Tullio Lombardo to Alessandro Vittoria. In Florence, Waagen strived to complete the collection;
      even if his taste went more towards the smooth style of the Della Robbia works, he felt the obligation to buy
      works by Donatello, whose merits had been praised by Giorgio Vasari in the 16th century more than those of any
      other artist of his time. A marble relief with the Madonna and Child entered the Sculpture Collection <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/2.jpg">(fig. 2)</a>:
      Berlin had its Donatello.</p>

    <p>The above-mentioned Madonna came from the Counts Orlandini, an old Florentine family not known for having been
      Donatello's patrons as were, first and foremost, the Medici. But the Orlandini had inherited some Medici
      possessions, and their palace was where a close Medici friend, antipope John XXIII, had sojourned at the beginning
      of the 15th century. In the 1420s, Donatello was responsible, together with Michelozzo, for the tomb of John XXIII
      <a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/3.jpg">(fig. 3)</a>. This is
      certainly no proof that
      the Berlin Madonna is by Donatello, but still: from a formal point of
      view, the attribution was not totally out of place if one compared the Berlin Madonna with the one crowning the
      tomb, while the pilasters surrounding the Virtues in the lower register are also comparable to the carved niche of
      the ‘Orlandini’. The new acquisition also showed a mastery of the flat relief, a characteristic of Donatello's
      art, previously praised by Vasari. Although Waagen never called himself a great connoisseur of Renaissance
      sculpture, his exceptional eye for painting (he was one of Vermeer's discoverers) could not be discounted in the
      acquisition of this sculptural work.
    </p>

    <p>Four decades later, the first scholarly discussion of the Orlandini Madonna in no way contradicted Waagen's
      judgement: the year was 1884, and the newly appointed director of the sculpture department of the Royal Museums of
      Berlin dedicated an article to his collection, that he had already helped to expand significantly for more than a
      decade. His name was Wilhelm Bode. Since Waagen's era, times had radically changed: the wars against Austria and
      then France had allowed Prussia to annex other Germanic states and to found the German Empire in 1871. The museum
      of its new capital, Berlin, was still felt as far too provincial compared to those in other German cities such as
      Dresden or Munich, not to mention other European metropoles such as Vienna, Paris or London. A significant number
      of works had to be acquired to show the new prestige of imperial Germany. Bode, who came in office one year after
      German unification, was the right man, in the right place, at the right time. In 1878, he had acquired in Florence
      a magnificent bronze sculpture representing St John the Baptist <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/4.jpg">(fig. 4)</a>, which he attributed to Donatello for the
      first time in the cited article of 1884. Even if he judged the Orlandini Madonna not fully worthy of the master,
      he considered it to have been carved in the workshop, under Donatello’s direct supervision.
    </p>
    <p>Two years later, Bode changed his mind about the quality of the Orlandini Madonna. The reason for this change of
      opinion is simple: the art historian had just bought a work which he did not hesitate to describe as a "pendant"
      of the ‘Orlandini’ <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/1.jpg">(fig. 1)</a>. It is, at
      first glance, a very similar Madonna and Child, except that – for Bode –
      the quality was incomparably superior. One only had to compare them, he argued, to realize “how rounded the figure
      here is [i.e. in the recent acquisition], how convincing the foreshortenings, how finely the flesh is suggested,
      especially in Mary's right hand, how loosely her wavy hair is treated.” Everything for Bode suggested an
      attribution to Donatello at the beginning of the 1420s, which gave the relief a capital importance: this was one
      of the first examples of a work using linear perspective, a device invented around 1415 by Filippo Brunelleschi
      that would revolutionize the history of art but that was, at the time, completely ignored by painters.
    </p>
    <p>For Bode, the recently acquired Madonna already had a code name, privately given during the feverish weeks
      leading to its acquisition: as it belonged to Count Lamponi Leopardi, Bode and his Florentine merchant Stefano
      Bardini called the relief the ‘Lamponi marble’. But who would accept as a new Donatello a relief whose name would
      translate as the ‘Raspberry Madonna’? The alleged provenance of the relief from the Pazzi Palace in Florence would
      subsequently be highlighted, and the work was soon named the Pazzi Madonna – without it being clear whether or not
      it was commissioned by a member of the Pazzi family. The two Madonnas were by then in Berlin; their joint history
      can begin.</p>

    <h3>At the ‘Kaiser Friedrich’</h3>
    <p>To my knowledge, there are no existing photographs of the two Madonnas in the rooms of Schinkel’s Museum, known
      as the Altes Museum (“Old Museum”) since the middle of the 19th century. Due to Bode's numerous acquisitions – not
      only in sculpture, but also in painting and plaster casts – there was not enough exhibition space for him in a
      building he never liked very much. From the 1880s, he had wished to erect a "Renaissance Museum", which only came
      into being two decades later under the name of the Kaiser Friedrich Museum (after Emperor Frederick III, father of
      the last German Emperor, Wilhelm II). The ‘Kaiser Friedrich’ opened in 1904, exhibiting the ‘Pazzi’ and the
      ‘Orlandini’ side by side, first in a room dedicated to Florentine Early Renaissance sculpture, then in a
      presentation with a few important paintings added <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/5.jpg">(fig. 5)</a>. Let's take a closer look at the latter hanging, which
      dates from the late 1910s: the Pazzi Madonna may be at the same height as the Orlandini Madonna, but it is closer
      to the window, thus receiving more light (the museum was designed without electric lighting, which was not Bode's
      most strategic decision, at least concerning the reduced opening hours in winter…). In the center of the room is a
      bust of St John the Baptist that Bode also considered a Donatello (it would be attributed to Desiderio da
      Settignano in the 1930s); on the sides were two other busts given to Desiderio (the one on the right is the famous
      Marietta Strozzi, acquired by Waagen in Florence; the other one is by a close follower). Above this main row of
      objects are other items considered to be of slightly lesser historical importance, while below are three fragments
      of a predella painted by Masaccio for a polyptych intended for the Church of the Carmelites in Pisa. On the floor,
      a wedding chest or cassone provides a visual structure for the whole.
    </p>
    <p>One single wall thus illustrates Bode's principles of installation, whose cardinal points are symmetry,
      historical order, and dialogue between painting and sculpture. Our two Madonnas are indeed not just symmetrical;
      their confrontation allows the eye to educate itself, distinguishing the superior quality of one relief (the
      ‘Pazzi’) over the other (the ‘Orlandini’). One could directly verify the judgement written by Bode at the time of
      the acquisition of the ‘Pazzi’. The presence of Donatello's pupils, starting with Desiderio, makes manifest the
      sculptor’s seminal role in Quattrocento art. This is underscored by Masaccio’s predella panels, as the painter was
      the first to adapt in painting the linear perspective invented by Brunelleschi and developed by Donatello.
    </p>
    <p>After half a century at the service of the Berlin Museums, Bode took a half-step back in 1920, resigning as
      Director General but remaining director of the Paintings Collection ; he died in 1929, aged 83, his funeral taking
      place in the central hall of his beloved Kaiser Friedrich Museum, as a final proof of his lifelong attachment to
      the institution. His successors, however, felt relieved of a burden. Bode reigned for too many years; now that he
      was no longer there, it was time to experiment in the museum. This started with a new installation, which showed
      fewer works and separated painting from sculpture. The Pazzi Madonna and the Orlandini Madonna moved from the
      upper floor to the main floor, in a much larger room allowing a great distance between them. A direct visual
      comparison was no longer possible; the reliefs had become two individual elements intended for art lovers and no
      longer for apprentice connoisseurs.
    </p>

    <p>The re-installation was completed in 1933, the same year that museum curator Frida Schottmüller, who had spent
      her entire career in Bode's shadow, published a new catalogue of Italian sculptures, in which she was able to free
      herself from her imposing mentor. The Pazzi Madonna was still by Donatello, but the Orlandini Madonna was given to
      a Pisan follower of the master, Andrea Guardi – in open polemic with the reconstruction of Guardi's career
      proposed by another art historian, Paul Schubring. This attribution would be sporadically followed until the
      beginning of the 21st century; when Schottmüller's catalogue was published, however, Ulrich Middeldorf remarked
      that the quality of the work was far too great to be by Guardi (a fully understandable opinion, which would be
      later confirmed in the 2015 monograph on Guardi, published by Gabriele Donati). At the time of the publication of
      Schottmüller’s catalogue, specialists’ quarrels were not a priority: the Nazis had taken power. Soon it would be
      war, which would lead to the long separation of the two Madonnas.
    </p>

    <h3>Hot War, Cold War</h3>
    <p>On September 1, 1939, Nazi Germany invaded Poland. World War II had begun in Europe. After more than half a
      century spent in the rooms of the Altes Museum and then at the ‘Kaiser Friedrich’, the ‘Pazzi’ and Orlandini
      Madonna were put into crates. Their destiny first remained linked, from the basements of Museum Island to the
      control tower of an anti-aircraft bunker, built in 1941 in the park of Friedrichshain. The choice was supposedly a
      safe one, as the bunker could protect the works from the intensifying Anglo-American bombing raids, which were
      methodically reducing whole sectors of the German capital to rubble. On March 6, 1945, the plans suddenly changed:
      Adolf Hitler gave the order to evacuate out of Berlin a large part of the collections of the Berlin Museums. It is
      difficult to understand this strategy: was it a deliberate attempt to offer German works to the Western Allies?
      This gesture indeed sealed the fate of Berlin's collections for half a century: the evacuated works would spend
      the Cold War in the Western bloc. Those left behind in the Friedrichshain bunker would suffer a hellish fate.</p>

    <p>Along with a number of masterpieces from the Berlin Museums, the Pazzi Madonna safely arrived in the Kaiserode
      salt mine near Merkers in Thuringia. On April 4, 1945, the mine fell into the hands of U.S. General Patton's Third
      Army. The recovered works were sent further west, as the Merkers area was promised to the Soviets. The ‘Pazzi’
      reached the Central Collecting Point in Wiesbaden, where it would spend more than a decade. In the mid-1950s, the
      principle of returning the works to Berlin was established. With the Kaiser Friedrich Museum located in the
      Eastern sector, the site of the Western museums would be the Dahlem complex, in the American sector, where
      architect Bruno Paul had erected the first museum building for the Asian collections in 1914 at the instigation of
      Bode himself. In the 1960s, the Pazzi Madonna was once again in the limelight <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/6.jpg">(fig. 6)</a>.
    </p>

    <p>The recovered glory of the ‘Pazzi’ is marked by two important publications in the field of Renaissance sculpture:
      the two-volume monograph devoted to Donatello by Horst Janson in 1957, and the survey of the history of Italian
      Renaissance sculpture by John Pope-Hennessy. Both books have not yet been replaced as of today, more than half a
      century after their publication. In his monograph, Janson almost systematically excluded works attributed to
      Donatello without reliable documentation – starting with the bronze St John the Baptist purchased by Bode in 1878
      <a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/4.jpg">(fig. 4)</a>. The
      Pazzi Madonna was, however,
      one of the few Madonnas to be considered genuine. As for Pope-Hennessy's
      publication, one need only look at the cover of the fourth edition of the book, published posthumously in 1996:
      the Pazzi Madonna sums up the whole Italian sculpture of the Quattrocento <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/7.jpg">(fig. 7)</a>.
    </p>

    <p>But let us return to Berlin, in the last days of the war. The Pazzi Madonna left for Merkers; the Orlandini
      Madonna remained in the Friedrichshain bunker – it was probably judged redundant with the ‘Pazzi’, although the
      rationale for choosing some works over others for such an evacuation defies too systematic a logic. In May 1945,
      as Berlin fell into Soviet hands, two fires of unexplained origin ravaged the control tower of the Friedrichshain
      bunker and the works contained therein. Was this an accident or a deliberate act, and, in the any case, who set
      the fire? Opposing theories have circulated, none of which can be proven. As many other works of art, the
      Orlandini Madonna was severely damaged. Here it is described in July 1946: "half-length figure of the Virgin and
      Child by Donatello. Broken into many pieces. The marble is burned at the surface. The right elbow of the Virgin is
      covered with soot." A slightly later photograph documents this tragic state <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/8.jpg">(fig. 8)</a>.
    </p>

    <p>Hardly anyone will be able to read the above description until the mid-1990s: it was part of a secret note from
      the Red Army, which accompanied the transfer to the Soviet Union of cultural property seized on German territory.
      The practice was understood at the time as a fair reparation for the enormous destruction unleashed by the Nazis
      on Russia – and besides, so went the logic, the Americans did not act differently when they tried to appropriate
      the 200 best paintings from Berlin stored in Wiesbaden, which were transferred to Washington in late 1945. Works
      of art in good condition found by the Soviet army thus immediately reached Moscow or Leningrad; as for those in
      the bunker, the ashes had to cool down so that the surviving fragments could be excavated and shipped east. This
      was the case for the Orlandini Madonna. Officially, the work was missing.
    </p>

    <p>In the 1950s, the situation changed radically: East Germany was a "sister republic" of the USSR, while the new
      nemesis of the Soviets, the United States, was supporting the transfer of the works in West Germany to Berlin
      Dahlem. The decision was taken in Moscow to return the treasures seized in 1945: Raphael's Sistine Madonna reached
      Dresden again, while the monumental frieze of the Pergamon Altar came back to Museum Island. For the works which
      had burned in the bunker, extensive restoration was necessary: the fragments of the Orlandini Madonna were
      reassembled and fixed over a modern marble plaque. In 1958, the Madonna was exhibited in the museum where it had
      spent so many years in the company of the ‘Pazzi’, but the times had definitely changed, as had the very name of
      the museum – “Kaiser Friedrich” was far too imperialistic in a communist state, so the building was rebaptized as
      the Bode Museum in 1956.
    </p>

    <p>Before the war, the Orlandini Madonna had suffered from the comparison with the ‘Pazzi’, but at least it was
      frequently spoken of – which was less and less the case in East Berlin. Not that the Bode Museum was inaccessible,
      but the damaged relief had become difficult to appreciate. In 1984, however, an East German art historian,
      Hannelore Sachs, reproduced the ‘Pazzi’ and the ‘Orlandini’ once again side by side in a book, both under the name
      of Donatello. This attempt to enhance the value of the East German collections did not convince anyone, and the
      name most frequently attached to the latter relief remained that of Andrea Guardi, given by Frida Schottmüller in
      1933.
    </p>

    <p>This half-forgotten position, however, was less radical than the leaden shroud on the works that did not return
      from the USSR in 1958. This was the case of Donatello's bronze St John the Baptist <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/4.jpg">(fig. 4)</a>, barely
      mentioned in
      the literature, but also of many objects on the very wall of the Kaiser Friedrich Museum where our two Madonnas
      were hung – notably the Bust of St John the Baptist which stood in the center of the wall as a masterpiece by
      Donatello <a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/9.jpg">(fig.
        9)</a>. The attribution to
      Desiderio da Settignano, even if it was the most convincing one, could
      never reach a global consensus among art historians. Who would blame them for refraining from judging a missing
      work?
    </p>

    <h3>Reunification</h3>
    <p>The Fall of the Berlin Wall on 9 November 1989 is a key date in the history of Germany and Europe. It had
      likewise a direct impact on the history of the Berlin Museums. Less than three years later, the collections from
      East and West were formally brought together again, after four decades of parallel lives. The former Kaiser
      Friedrich Museum, now Bode Museum, was completely renovated to accommodate the Sculpture Collection once again;
      the paintings, however, would go to the Kulturforum, initiating a historical separation that can be considered
      regrettable in many respects. In 2006, the Bode Museum reopened its doors, in a display directly inherited from
      the criteria of West Berlin, with white walls and far fewer works than in Bode's era – except in a study gallery
      where many works damaged by the fires of 1945 were displayed. Despite its damaged condition, the Orlandini Madonna
      was not in this study gallery, but placed again not far from the ‘Pazzi’, although at a different height <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/10.jpg">(fig. 10)</a>. The
      darkened ‘Orlandini’ clearly
      suffered from the renewed comparison. The guidebook of the collection marked
      this discrepancy: the ‘Pazzi’ made the cover <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/11.jpg">(fig. 11)</a>, while there was no room for the ‘Orlandini’, labeled in
      the galleries as by the school of Donatello.
    </p>

    <p>In 2013, I began working at the Bode Museum on a catalogue of the works of Donatello and his school contained in
      the Berlin collections. The Pazzi Madonna was of course a central work to be studied (along with a bronze
      Spiritello coming from the baptismal font of the Siena Cathedral, another brilliant acquisition of Bode). The
      Orlandini Madonna was also present in my catalogue; hadn't it been acquired as a Donatello? My research was
      considered a sufficient argument for restoring the relief, even if, I must confess, I did not at first have a very
      high opinion of it. It was no longer hung close to the ‘Pazzi’ at the time, but still way too high for my taste.
      The even higher display of the Pazzi Madonna, in order to respect the presumed original position of the relief,
      was also questionable for me; as we have seen, not much is known of the original provenance of the work, and
      having it too far from the viewers’ eyes meant blurring the most poignant part of the object: the overlapping
      faces of the Mother and her Child. After all, it is this detail which was chosen as the cover of various books
      (fig.<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/7.jpg"> 7</a> and <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/11.jpg"> 11</a>, not so much
      the perspective scheme,
      however important it may have been historically.
    </p>

    <p>Seen up close in the restoration workshop, the ‘Orlandini’ was quite different from its appearance in the museum
      rooms: the overall, imperfect anatomy of the Virgin gave way to surprising details – such as the stunning position
      of her right hand <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/12.jpg">(fig. 12)</a>, with its
      folded fingers that were almost sinking into the marble, or the care taken
      to represent every finger of the other hand in very flat relief <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/13.jpg">(fig. 13)</a>. To stay on the same motif, I was
      dumbfounded by how the Child was bringing one hand to his mouth, as if to signify that his incoming teeth were
      hurting him. I was not the only one to have been struck by the Madonna; for Bodo Buczynski, then head of the
      restoration workshop, the ‘Orlandini’ was even better carved than the ‘Pazzi’! This was certainly a provocative
      judgement, but one that had to be taken into consideration, coming from a restorer who had been working for almost
      four decades at the Berlin Sculpture Collection, and who had restored the Pazzi Madonna twice.
    </p>

    <p>One day, an attribution crystallized. A comparison, rather, with the figures of the tomb of Rinaldo Brancaccio,
      made between 1426 and 1428 by Donatello and Michelozzo for the Neapolitan Church of Sant’Angelo a Nilo <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/14.jpg">(fig. 14)</a>.
      The similarities were overwhelming: the absent gaze of one angel (fig. <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/15.jpg">15 </a> ang <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/16.jpg">16</a>), the geometric diadem worn by the
      Virgin that comes back in one of the caryatids <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/17.jpg">(fig. 17)</a>, not to forget the draperies inspired by classical
      antiquity. Such comparisons indicated that the author of these figures was most certainly the same one who made
      the Orlandini Madonna. For several decades now, critics have agreed to attribute these parts to Michelozzo and not
      to Donatello (even if other collaborators also worked on this monument). Michelozzo must therefore have been the
      author of the ‘Orlandini’, which is also coherent with his later work as a sculptor. The Madonna had to be dated
      to the second half of the 1420s, so its carved frame with pilasters was to be understood as an early example of
      this typology in Florence, in direct parallel with the renewal of Antiquity conceived by Filippo Brunelleschi. Two
      decades later, Michelozzo would become a renowned architect, his project for the Medici Palace in Florence being
      preferred to the one submitted by Brunelleschi.
    </p>

    <p>After having been appointed Curator of Early Italian Painting and Sculpture for the Berlin Museums in 2016, I was
      able to propose the following year a reorganization of two large rooms of the Bode Museum – dedicating the largest
      one to Florentine Quattrocento sculpture and the other one to Donatello. My main idea was to return to Bode's
      principles, notably with a fuller display, a symmetrical disposition and an insistence on historical
      relationships. The Pazzi Madonna was hung at the center of the Donatello room <a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/2/18.jpg">(fig. 18)</a>, on a special wall
      highlighting its nature as a masterpiece (and hopefully not too high for any visitor). The restored Orlandini
      Madonna <a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/19.jpg">(fig.
        19)</a> was not far away, on the
      wall to the right, completing a triptych formed by two other autograph
      Madonnas by Donatello. Predella and pilasters elements from Masaccio's Pisa Polyptych were also present, as they
      were in Bode’s times, in order to show the influence that Donatello had on the painter. The only documentary
      evidence of the direct relationship between both artists comes indeed from Pisa and not Florence: in 1426,
      Masaccio was working on his polyptych and needed money, which Donatello gave him right away. Donatello was then
      staying in Pisa to complete the tomb of Rinaldo Brancaccio, in order to send it more easily to Naples by sea.
      Michelozzo was with him: his Orlandini Madonna may even have been sculpted at that moment, while he took direct
      inspiration from his two great contemporaries. The motif of the Child touching his teeth probably comes directly
      from Masaccio’s Pisa Polyptych <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/20.jpg">(fig. 20)</a>.
    </p>

    <p>The relationship between the two Berlin Madonnas documents an important chapter of the early history of
      Florentine Renaissance art. It also delineates the singular history of the Berlin Sculpture Collection. I am
      however conscious that, despite all my efforts, the two objects leave too many aspects of this rich history in
      shadow. In the very room where they are displayed, one can experience that the story is more complex in front of
      plaster casts of two of Donatello's works – once in Berlin and long thought to have disappeared in 1945 <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/21.jpg">(fig. 21)</a>
      – but which, in fact, resurfaced in 2015 in the Pushkin Museum, Moscow, one being the previously-mentioned bronze
      representing St John the Baptist <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/4.jpg">(fig. 4)</a>.
      Above the cast of this work, a life-size photograph of another Baptist
      recalls the bust that was once at the center of the wall between the ‘Orlandini’ and the ‘Pazzi’, but whose
      fragile nature in stucco, alas, did not allow it to survive, even as damaged fragments <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/9.jpg">(fig. 9)</a>.
    </p>

    <p>But let us conclude with a final example from the very same wall of the Kaiser Friedrich Museum <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/5.jpg">(fig. 5)</a>: a small
      marble relief showing the Baptism of Christ <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/2/22.jpg">(fig. 22)</a>, which was exhibited with a 16th century Venetian frame,
      even if Bode had acquired it as being Florentine and from the middle of the preceding century. In 1926, a decade
      after the acquisition, the aged Bode pronounced it a work by Donatello – an opinion which was almost completely
      neglected in the literature. In 1945, the relief was evacuated from Berlin and followed the same path as the Pazzi
      Madonna, from Merkers to Wiesbaden and then to Berlin Dahlem. The frame had been judged not important enough to be
      evacuated: it remained for decades on the Museum Island, fortunately not even reaching the ill-fated bunker. When
      the Baptism came back to the Bode Museum after the Reunification, no one remembered this fragmented history
      anymore. It is only in 2016 that the relief and its frame were reconnected. The next time I try to encapsulate the
      history of the Berlin Sculpture Collection, I will perhaps begin with this work and not say anything else about
      Donatello, as I firmly believe – like Bode – that this is a work by him.</p>

    <h3>Illustrations</h3>

    <ol>
      <li>Donatello, Madonna and Child, called the Pazzi Madonna, c. 1422, Staatliche Museen zu Berlin,
        Skulpturensammlung und Museum für Byzantinische Kunst (exhibited at the Bode Museum)</li>

      <li>Michelozzo, Madonna and Child, called the Orlandini Madonna, c. 1426-28, Staatliche Museen zu Berlin,
        Skulpturensammlung und Museum für Byzantinische Kunst (exhibited at the Bode Museum)</li>

      <li>Donatello and Michelozzo, Funerary Monument to Antipope John XIII, c. 1422-28, Florence, Baptistery</li>

      <li>Donatello, St John the Baptist, c. 1425-30, Moscow, The Pushkin State Museum of Fine Arts. Transferred after
        WWII. Until 1945-46: Berlin, Staatliche Museen, Skulpturensammlung
        Kaiser Friedrich Museum, c. 1917-20</li>

      <li>Sculpture Collection in Dahlem (West Berlin), c. 1964
        Cover of: John Pope-Hennessy, An Introduction to Italian Sculpture. Volume II. Italian Renaissance Sculpture,
        London, Phaidon, 4th edition, 1996</li>

      <li>Michelozzo, Orlandini Madonna (as in <a class="publications__popup-pic" data-effect="mfp-zoom-in"
          href="img/publications/2/2.jpg">fig.
          2</a>), photograph taken in Leningrad in the mid-1950s</li>

      <li>Attributed to Desiderio da Settignano, Bust of St John the Baptist, c. 1450-55, formerly Berlin, Kaiser
        Friedrich Museum, lost since 1945</li>

      <li>Bode Museum, 2006</li>

      <li>Cover of: La collezione di sculture al Bode-Museum, Munich, Prestel, 2011</li>

      <li>Michelozzo, Orlandini Madonna (as in <a class="publications__popup-pic" data-effect="mfp-zoom-in"
          href="img/publications/2/2.jpg">fig.
          2</a>), detail</li>

      <li>Michelozzo, Orlandini Madonna (as in <a class="publications__popup-pic" data-effect="mfp-zoom-in"
          href="img/publications/2/2.jpg">fig.
          2</a>), detail</li>

      <li>Donatello and Michelozzo, Funerary Monument to Cardinal Rinaldo Brancaccio, 1426-28, Naples, Sant’Angelo a
        Nilo</li>

      <li>Michelozzo, Orlandini Madonna (as in <a class="publications__popup-pic" data-effect="mfp-zoom-in"
          href="img/publications/2/2.jpg">fig.
          2</a>), detail</li>

      <li>Michelozzo, Funerary Monument to Cardinal Rinaldo Brancaccio (as in <a class="publications__popup-pic"
          data-effect="mfp-zoom-in" href="img/publications/2/13.jpg">fig. 13</a>), detail</li>

      <li>Michelozzo, Funerary Monument to Cardinal Rinaldo Brancaccio (as in <a class="publications__popup-pic"
          data-effect="mfp-zoom-in" href="img/publications/2/13.jpg">fig. 13</a>), detail</li>
      <li>Bode Museum, 2020</li>

      <li>Michelozzo, Orlandini Madonna (as in <a class="publications__popup-pic" data-effect="mfp-zoom-in"
          href="img/publications/2/2.jpg">fig.
          2</a>), present state</li>
      <li><a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/20.jpg">Masaccio, Virgin
          and Child, 1426, London, National Gallery</a></li>
      <li><a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/21.jpg">Bode Museum,
          2020</a></li>

      <li><a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/2/22.jpg">Attributed to
          Donatello, Baptism of Christ, 1425-30, Staatliche Museen zu Berlin, Skulpturensammlung und
          Museum für Byzantinische Kunst (exhibited at the Bode Museum)</a></li>
    </ol>
  </article>

  <div class="publications__gallery"></div>


</section>

{% endblock %}
