---
title: Публикации
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "publications" %}
{% set page_lang_link = "publication-1-eng" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

<section class="text">

  <article class="text__wrapper">
    <h2>К вопросу об истории произведений скульптуры из фонда перемещенных ценностей, хранящихся в ГМИИ им. А.С.
      Пушкина, 1945-2015.</h2>
    <p>В 2015 году ГМИИ им. А.С. Пушкина начал важный совместный проект с берлинским Музеем Боде. Связанные воедино
      трагической историей Второй мировой войны, музеи Москвы и Берлина уже не первый раз начинают работу над совместным
      выставочным проектом, хотя впервые это взаимодействие осуществляется в области скульптуры итальянского
      Возрождения. Те скульптуры из числа так называемых «перемещенных ценностей», которые сохраняются сегодня в
      запасниках ГМИИ им А. С. Пушкина, в некотором смысле делают историю берлинского и московского музеев неотделимой
      друг от друга. Есть, однако, и другая история, которая связывает наши собрания – та, что была начата основателем
      московского музея Иваном Цветаевым, поддерживавшего контакты с Вильгельмом фон Боде и приобретавшим в Берлине до
      1912 года слепки с произведений богатого собрания Музея Кайзера Фридриха. Множество из них и сегодня можно видеть
      в зале скульптуры итальянского Возрождения московского музея. Именно с воспоминанием об этом периоде
      сотрудничества мы сегодня начинаем наш общий проект, призванный изучить, отреставрировать, и представить широкой
      публике те произведения скульптуры итальянского Ренессанса, которые некогда занимали заметное место в берлинском
      музее, а теперь хранятся в Москве. [<a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/1.jpg"> Илл. 1</a>. Зал слепков скульптуры итальянского Возрождения, 1912 г.]</p>

    <p>Участвующие в проекте скульптуры из берлинского собрания долгое время считались безвозвратно утраченными и
      появляются в поле зрения впервые за долгое время, прошедшее с момента окончания войны. </p>

    <p>Поврежденные огнем и деформированные, эти скульптуры нуждаются в масштабной реставрации перед тем, как снова
      предстать перед зрителями в музейном пространстве. Но также и их историю в период после 1945 года необходимо
      восстанавливать по частям, основываясь на немногих доступных источниках. Атмосфера секретности, сложившаяся вокруг
      предметов, перевезенных из Германии после войны, привела к тому, что эта история не была написана, хотя такая
      работа и проводилась. Планы книги, касающейся вывоза предметов искусства из Германии и их возвращения ГДР в 1958
      году, и имевшей своей целью представить в благоприятном свете историю «перемещенных ценностей», хранятся теперь в
      архиве Пушкинского музея. Эта монография, озаглавленная «Спасение Советским союзом немецких художественных
      ценностей в период Великой Отечественной Войны», не была доведена до конца и так и не была опубликована, а глава о
      произведениях скульптуры, порученная хранителю западноевропейской скульптуры С.Д.Романович, в архиве музея
      отсутствует.</p>

    <p>Вместе с тем, документы архива ГМИИ способны дать ценные сведения, позволяющие реконструировать историю этой
      части музейного собрания в послевоенный период. Многие из них публикуются впервые в данном обзоре.
    </p>

    <p>Кроме того, исключительно ценным для нашей работы стал опубликованный в 2014 году А. Апонасенко свод документов,
      относящихся к истории «перемещенного искусства» в Государственном Эрмитаже, чей замечательный пример, мы надеемся,
      будет продолжен и московским музеем.
    </p>
    <p>И безусловно, не утратил своей актуальности труд независимых историков К. Акинши и Г. Козлова, раскрывающий
      подробности общей картины советской трофейной операции, крайне необходимые для интерпретации доступных источников
      и их помещения в общий контекст.
    </p>
    <p>В 1939 году экспозиция берлинского Музея Кайзера Фридриха была закрыта для публики, а произведения эвакуированы в
      преддверии войны. Система эвакуационных мер предусматривала помещение произведений из этого и других музеев
      Берлина в разнообразные укрытия, разбросанные как в городской черте, так и за ее пределами. Значительная часть
      собрания скульптуры была помещена в одно из самых безопасных укрытий Берлина, бункер Фридрихсхайн, где затем
      пострадала от разрушительного пожара всего за несколько дней до официального окончания Второй мировой войны. Пожар
      в бункере Фридрихсхайн остается на сегодняший день одной из самых крупных единовременных утрат художественных
      произведений в XX столетии. При этом его обстоятельства в значительной степени все еще остаются тайной. Не одно, а
      несколько катастрофических событий произошло между 2 мая, днем капитуляции Берлина, когда район Фридрихсхайн был
      занят советскими войсками, и 18 мая, когда уже документально был засвидетельствованы последствия пожара, который
      повредил хранившиеся в бункере скульптуры. <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/2.jpg">Илл 2</a> Башня управления Фридрихсхайн]
    </p>
    <p>Читая написанные сухим канцлерским языком отчеты работников берлинских музеев, как, например, «Военную хронику»
      директора берлинского кабинета гравюры Фридриха Винклера, нельзя отделаться от впечатления, что развитие ситуации
      в бункере можно было бы предотвратить, если бы только были приняты необходимые меры предосторожности. Первое
      крупное возгорание в бункере, затронувшее нижний ярус хранилища, произошло, по всей вероятности, в ночь с 5 на 6
      мая. Возгорание уничтожило хранилище картин большого формата Берлинской картинной галереи, и другие произведения,
      в том числе часть хранившихся там же картин из Национальной Галереи. Среди них были всемирно известные шедевры
      Караваджо, Боттичелли и Рубенса. [<a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/3.jpg">Илл. 003</a> Зал итальянской живописи музея Кайзера Фридриха] Однако, двери и
      печати
      на дверях верхнего этажа, на котором размещались скульптуры вместе с множеством других ценных предметов из других
      разделов берлинских собраний, были еще не повреждены, согласно заявлению Отто Кюммеля, генерального директора
      Берлинских музеев, полковнику американского MFA&A капитану Хэтевею, сделанному 19 июля 1945 года. Кюммель посетил
      бункер вместе с майором Липскеровым из советской военной администрации на следующий день, 7 мая 1945 года.
    </p>
    <p>Второй пожар, дата которого считается не установленной точно, продолжил уничтожение произведений, еще
      сохранявшихся на верхнем этаже бункера. Письмо Кюммеля говорит о 14 мая, хотя в литературе чаще всего называется
      время между 14 и 18 мая. В этом же письме Кюммеля говорится и о предположительных причинах первой и второй
      катастрофы: он упоминает отсутствие охраны бункера военными и неосторожность мародеров, освещавших себе дорогу
      бумажными факелами (электричества в бункере уже не было), в чем видит причину второго возгорания. Что же касается
      первого, то в машинописном черновике заявления Кюммеля содержится и важная пометка, сделанная от руки и внесенная
      затем в чистовик документа - упоминание под знаком вопроса о диверсионной группе «Вервольф». Эта версия событий
      подробно рассмотрена в книге Гюнтера Шаде, посвященной истории берлинских музеев, где утверждается, что пожар в
      бункере не был случайностью, а стал результатом саботажа, выполненного диверсантами в соответствии с приказом
      самого Гитлера, так называемым «Приказом Нерона». Написанная в 1980-е в Восточном Берлине, работа Шаде несет на
      себе отпечаток идеологических построений своего времени, однако эту версию не следует сбрасывать со счетов. Такая
      точка зрения может косвенно подтверждаться силой первого пожара – или, возможно, взрыва такой мощности, что он
      заблокировал лифт в здании и сделал недоступными верхние этажи для осмотра инспекцией 6 мая из-за высокой
      температуры на лестнице.
    </p>
    <p>Причины второго пожара, в огне которого и пострадали скульптуры Донателло, ныне сохраняющиеся в ГМИИ, еще менее
      понятны. Согласно Г.Шаде, это снова был акт возмездия диверсантов. Если принять эту версию, то возможно, такое
      развитие событие было спровоцировано вывозом художественных произведений, хранившихся в бункере Цоо – эта
      эвакуация началась 13 мая. Причинами столь раннего вывоза предметов, в числе которых находилось знаменитое «Золото
      Трои» и рельефы Пергамского алтаря, было стремление советской стороны не допустить попадания ценностей в руки
      союзников, поскольку эта часть Берлина в скором времени должна была быть отведена под британский сектор. Из
      бункера Фридрихсхайн, находившегося на территории будущего советского сектора, никакой эвакуации не производилось.
      Согласно отчетам Винклера и Кюммеля, лишь отсутствие охраны и общее пренебрежение к судьбе бункера (гражданские
      лица свободно входили и выходили из здания) стало причиной столь прискорбного развития событий. Возможно, здесь
      сыграла свою роль комбинация факторов. Во всяком случае, различное состояние предметов из бункера (один из них
      пострадали от огня сильнее, а другие остались сравнительно неповрежденными) свидетельствует о том, что
      обстоятельства, при которых произошли повреждения, могли не быть одинаковыми или одновременными. Кроме того, в
      ряде случаев (рельеф «Бичевание Христа») можно говорить о том, что скульптура сперва была разбита, а лишь потом
      подверглась действию огня, чего не произошло бы, если бы все музейные экспонаты находились в своих ящиках. <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/4.jpg">Илл. 004</a> Рельеф
      «Бичевание Христа» ]
    </p>
    <p>Наличие разных версий позволяет исследователям выбрать ту, что ближе их политическим или национальным
      предпочтениям, или даже создать свою собственную, как это происходило с многочисленными «теориями заговора»,
      появляющимися до сегодняшнего дня. Однако с таким количеством возникающих вопросов и в отсутствии новой
      информации, возможно, более разумным будет признать, что объективную картину этих событий сегодня невозможно
      восстановить.
    </p>
    <p>Реконструируя события этого времени, стоит обратиться к документам российских архивов и прочесть свидетельство
      полковника Советской Армии А.А.Белокопытова, уполномоченного Комитета по делам искусств при Совете Министров СССР
      по отбору и вывозу из Германии «трофейных» музейных ценностей, который играл важную роль в организации вывоза
      произведений искусства из Берлина Эта докладная записка, написанная в июле 1945 года, говорит о том, что из всех
      помещений бункера Фридрихсхайн, лишь три помещения, в которых размещались произведения искусства, были затронуты
      пожаром. Это заставило его думать, что пожар не был случайностью: «есть основание предполагать, что поджог был
      произведен немцами. Из всего помещения башни, как ни странно, сгорели именно три помещения, в которых и находились
      музейные ценности» . </p>
    <p>После пожара, бункер необходимо было обследовать и по возможности достать оттуда уцелевшие произведения, но
      сотрудничество с другими сторонами советской администрацией с самого начала было исключено. По указанию
      В.Н.Лазарева, выдающегося советского искусствоведа, который был одной из ключевых фигур в истории советской
      трофейной операции, Владимир Блаватский, археолог, профессор Московского университета, был вызван в Берлин и
      возглавил раскопки бункера, где скульптуры все еще находились под слоем пепла и пыли. Рассказы Лазарева о
      посещении бункера дошли до нас в памяти его коллег по университету. Эти устные свидетельства включали в себя
      мрачные, но живописные подробности: затвердевшие лужи расплавленной бронзы на полу из того, что было
      произведениями искусства, и скульптуры, рассыпающиеся в прах при малейшем движении воздуха в помещении. <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/5.jpg">[Илл. 005</a>
      Виктор Никитич Лазарев (слева, в пальто) с членами советской трофейной комиссии в Сан-Суси, Потсдам, 1945 г.]</p>

    <p>Записка Блаватского, посетившего бункер Фридрихсхайн во второй половине июля 1945, прямо говорит о том, что
      «находившееся там ящики с экспонатами были подожжены посредством термитного состава» , то есть горючей смеси,
      способной продолжать горение в отсутствие воздуха. Потолок частично обрушился на хрупкие предметы, а затем
      неизвестные лица рылись в пепле, перемещая предметы. Слой пепла и пыли достигал от 50 до 80 сантиметров, покрывая
      предметы сверху и скрывая их из виду – об этом пишет реставратор Третьяковской Галереи Михаил Иванов-Чуронов,
      побывавший там вместе с Блаватским. О собрании скульптуры он оставил лишь краткую ремарку: «на третьем этаже были
      запыленные статуи, но о их ценности я ничего от Блаватского не слыхал». [<a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/1/6.jpg">Илл. 006</a> Владимир Дмитриевич Блаватский
      (1899—1980)]
    </p>
    <p>Через некоторое время после этого визита Блаватский покинет Берлин, а полноценные раскопки в бункере начнутся
      лишь после 28 декабря 1945 года, когда Блаватский вернулся с Николаем Ивановичем Сокольским, профессиональным
      археологом. В его отсутствие, 31 августа 1945 года, Карл Вайкерт, заведующий собранием античности берлинских
      музеев, снова посетил бункер c англо-американской коммиссией и представителем с советской стороны. Ими был также
      отмечен слой пепла глубиной в метр, и рекомендовано было произвести раскопки совместно с сотрудниками берлинских
      музеев. Этого сделано не было по причинам, указанным выше – Блаватский закончил эту работу без привлечения других
      сторон. По некоторым данным, приводимым в ряде источников, необработанный пепел был увезен на грузовиках
      советскими солдатами для дальнейшего просеивания. Так или иначе, 11 марта 1946 года советский комиссар Гулыга
      заявит на заседании Союзнической комендатуры, что бункер Фридрихсхайн был очищен от всех находившихся в нем
      предметов. А 14-м марта 1946 года датируется официальный отчет Блаватского о проделанной работе, в котором
      упоминается о находке более 10.000 предметов – античной и западноевропейской скульптуры, прикладного искусства.
      Можно считать, что на этом моменте заканчивается данный этап в истории произведений, и начинается следующий.
      Заметим также, что небольшое число поврежденных в бункере скульптур из бункера ускользнуло от советских
      археологов. Эти предметы оказались в руках американских офицеров MFA&A и были после этого доставлены на Сборный
      пункт в Висбадене, откуда затем переданы музеям в Западном Берлине. Их существование скрывалось от советской
      военной администрации. [<a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/7.jpg">Илл 007</a> Николай Иванович Сокольский, 1916 -1973]
    </p>
    <p>Как нам теперь известно, находки из бункера были отправлены в СССР на двух разных военных поездах. Один из них,
      перевозивший часть скульптур из бункера и длинный перечень других произведений из Берлина, имел номер 176\1759,
      отправился из Берлина 18 февраля 1946 года, и прибыл в Москву 17 марта 1946 года. </p>
    <p>В сохраняющемся в архивах ГМИИ описании груза эшелона №176\1759, который доставил скульптуры из Берлина в Москву,
      прямо говорится: «Ящики с шифром Б – / бункер / Классические и западно-европейские произведения искусства, как то:
      античные вазы, терракоты, бронза, стекло, западно-европейская монументальная скульптура, терракоты, фарфор, мелкая
      бронза и фрагменты вышеперечисленных видов памятников. Произведения искусства, обнаруженные путем раскопок и в
      бункере, взорванном и подожженном немцами, повреждены огнем, высокой температурой и взрывами»
      Второй же эшелон за номером 178/4090-91, в котором находилась остальная часть находок в бункере, отправился из
      Берлина 6 июня 1946 года, прибыв 22 июня в Ленинград. Скульптуры из ранее единого берлинского собрания были этим
      событием разделены не только между Германией и СССР, но и дополнительно - между двумя крупнейшими музеями
      западноевроепейского искусства – ГМИИ им А.С. Пушкина и Государственным Эрмитажем. В отдельных случаях это привело
      к тому, что фрагменты одного и того же произведения находятся сегодня в двух, а то и в трех разных музейных
      собраниях.
    </p>

    <p>Причин такого поворота событий несколько. Во-первых, в напряженной атмосфере послевоенной эвакуации предметов не
      всегда удавалось верно выбрать точку финального назначения произведений, главным приоритетом был сам их вывоз, что
      делало процесс неизбежно хаотичным. Известны случаи, когда культурные ценности отправлялись в Грузию или Украину,
      а затем были перенаправлены в Москву и Ленинград. Однако в данном конкретном случае могли сыграть свою роль и иные
      соображения, связанные с предстоящим распределением предметов искусства между музеями СССР. В соответствии с идеей
      «компенсаторной реституции», выдвинутой художником и академиком И.Э.Грабарем, трофейное искусство должно было
      распределяться между музеями СССР как компенсация за потери военного времени. [<a class="publications__popup-pic"
        data-effect="mfp-zoom-in" href="img/publications/1/8.jpg">Илл. 008</a> Игорь Эммануилович
      Грабарь, 1871 - 1960]
    </p>

    <p>Незадолго до конца войны, специальные списки «желательных» к получению произведений из немецких музеев были
      составлены советскими учеными, чтобы определить представляющие интерес объекты и помочь работе трофейных бригад.
      Проекты по включению этих произведений в экспозицию советских музеев также составлялись непосредственно перед
      окончанием войны. Этот процесс не был завершен, и доступные нам документальные источники позволяют предположить,
      что между учреждениями культуры развернулось своего рода соперничество за ценные прибавления к их коллекциям. Так,
      30 августа 1945 года датируется документ, направленный директором Эрмитажа И.А.Орбели А.А.Кузнецову, первому
      секретарю ленинградского обкома партии, с просьбой посодействовать в пополнении фондов музея за счет предметов,
      вывозимых из Германии. [<a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/9.jpg">Илл 009</a> Иосиф Абгарович Орбели, директор Государственного Эрмитажа в 1934
      -1951 гг.]
    </p>

    <p>Аргументируя свою позицию, Орбели описывает ситуацию в Москве, где незадолго до этого очутились сокровища
      Дрезденской галереи, и просит поддержки в направлении произведений из Берлина в Эрмитаж в качестве компенсации за
      потери коллекции ленинградского музея в 1929-32 годах, когда множество первоклассных произведений искусства были
      проданы большевиками за границу. В приложении к письму имелся список из 46 скульптур и множества других
      произведений искусства из берлинских музеев, в котором фигурирует, в частности, бронзовая статуя Донателло «Иоанн
      Креститель», ныне находящаяся в ГМИИ (илл. 00). Хранившиеся в Берлине работы Донателло «Иоанн Креститель», «Ангел
      с тамбурином» и ранее считавшийся собственноручной работой мастера бронзовый «Давид» занесены эрмитажными
      сотрудниками в предметы первой категории значимости, в то время как знаменитая «Мадонна Пацци» фигурирует лишь в
      списках второй очереди. Рельефа «Бичевание Христа» в списке нет вовсе, что могло объясняться тем, что составлявшие
      список сотрудники музея пользовались устаревшими изданиями каталогов берлинских собраний.
    </p>
    <p>В действительности письмо И.А.Орбели оказалось несколько запоздавшим. Директор ГМИИ, возглавлявший музей с 1944
      по 1949 год, С.Д.Меркуров еще 15 июня 1945 года предложил партийному начальству свой ставший знаменитым проект
      преобразования Пушкинского музея в Музей Мирового искусства, предполагавший существенное расширение экспозиционных
      площадей и коллекции музея. Личность Меркурова, безусловно выдающейся, хотя и несколько противоречивой фигуры,
      оставила по себе долгую память в музее, не забыта она и сегодня. Талантливый скульптор, создатель ставших
      каноническими изображений советской партийной верхушки, он обладал при этом необычайно хорошим образованием и
      широким кругозором, и достаточно свободно чувствовал себя перед высоким партийным начальством. Есть веские
      основания полагать, что именно присутствие скульптуры Донателло среди вывозимых из Берлина произведений
      спровоцировало интерес Меркурова, побудивший его использовать свое влияние и связи, чтобы перенаправить первый
      эшелон из Берлина в Москву. 2 февраля 1946 датируется документ, направленный С.Д.Меркуровым председателю Комитета
      по делам искусств при СНК СССР М.Б.Храпченко, в котором он упоминает «около 3000 предметов из Бункера, в том числе
      – античная бронза, вазы и терракоты, скульптура Ренессанса (Донателло) и византийская бронза», и просит «дать
      указание оставить эти ценности в Москве и направить их в ГМИИ, где для приема и размещения памятников подготовлены
      специальные помещения».
    </p>

    <p>Это решение, как дают понять последующие события, оказалось связанным с рядом практических трудностей. Распаковка
      и инвентаризация поврежденных огнем предметов из берлинского бункера стала долгим и изнурительным процессом, к
      которому сотрудники музея в Москве не были вполне готовы. Неузнаваемое состояние поврежденных скульптур вместе с
      отсутствием документации и даже последних изданий берлинских каталогов (большинство из них было приобретено музеем
      еще до революции, а комплектование библиотеки в предвоенные годы оставляло желать лучшего). и прочие трудности
      сильно затрудняли процесс и привели к тому, что многие предметы были определены неверно или не определены вовсе.
      Кроме того, прерывали эту работу поступления с эшелонами из Лейпцига и Данцига (Гданьска), обработку материалов
      которых тоже необходимо было произвести. [<a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/10.jpg">Илл 010</a> Директор ГМИИ С.Д. Меркуров перед зданием музея наблюдает за
      приемкой перемещенных ценностей]
    </p>

    <p>Распаковка и составление инвентаря берлинских произведений начались в Москве в апреле 1946 г. Документы этого
      времени отражают атмосферу спешки и неэффективности, с которыми была сопряжена эта процедура. Приказ Главного
      управления учреждениями изобразительных искусства, датированный 29 июля 1946 года, призывает директоров ГМИИ и
      Эрмитажа завершить обработку новых поступлений к 15 августа, и написан в весьма резком тоне. Орбели и Меркурову
      приказывалось ускорить процесс любыми средствами, отложив предоставление отпусков сотрудникам и вызвав из отпусков
      всех остальных. Другой документ, датирующийся 17 декабря 1946 года и подписанный Е.Александровой, начальником
      Трофейной группы комитета по делам искусств, обвиняет сотрудников Пушкинского в плохом исполнении этой работы и
      описывает нарушения, допущенные при создании необходимой документации. Сотрудники Государственного Эрмитажа,
      напротив, заслуживают в этом документе похвалу за прилежный труд. Представляется вероятным, хотя и нельзя
      утверждать это с уверенностью, что именно такая ситуация, развивавшаяся в течение нескольких месяцев, стала
      причиной того, что эшелон со второй частью найденных в бункере предметов был отправлен не в Москву, а в
      Ленинград.[<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/11.jpg">Илл. 011
      </a>Рельеф Донателло «Мадонна с Младенцем в плаще», разбитый на фрагменты. Фото сделано
      реставраторами Государственного Эрмитажа, 1946- первая половина 1950-х гг.]
    </p>

    <p>Именно в таких условиях скульптуры из берлинского собрания поступили в московский музей. Так, например, 27
      сентября 1946 года комиссией в составе Главного хранителя ГМИИ А.А. Губера, представителя комитета по делам
      искусств Ф.Я. Сыркиной и старшего научного сотрудника М.З. Холодовской, был распакован ящик с номером Б-63.
      Содержавшийся в нем предмет под номером Б-8366 описывается как «Фрагментированная плита с рельефным изображением
      «Бичевания Христа». Мрамор. Разбит на 14 кусков» И в тот же самый день, 27 сентября, открыт был ящик Б-52, в
      котором находился под номером Б-II-506 «Донателло, Иоанн Креститель, бронза, обгорел, сильно разрушен, обломаны и
      утрачены обе руки и часть ног, многочисленные сбои, сильно повреждена поверхность, есть реставрации».
      [<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/12.jpg">Илл 012</a>. Статуя
      Донателло «Иоанн Креститель» перед реставрацией 2018-2019 г., фото ГМИИ]
    </p>

    <p>После составления актов распаковки скульптуры были занесены в инвентарные книги. Однако ни эти, ни многие другие
      произведения, полученные трофейными бригадами, не были внесены в основной инвентарь музея. Получив наименование
      «Особого фонда», эти произведения с самого начала составляли собой отдельную группу как в московском, так и в
      ленинградском музеях. Причины этого факта кроются в том, что в соответствии с первоначальной идеей «компенсаторной
      реституции», после инвентаризации полученных произведений должно было состояться их распределение между
      многочисленными музеями страны, пострадавшими в ходе военных действий. И ГМИИ, и Эрмитаж выступали в данной
      ситуации не как новые собственники, но лишь как временные хранители, обязанные произвести первичное описание и
      обработку предметов.
    </p>

    <p>Этому распределению, однако, никогда не суждено было случиться. В документе, датированном 12 ноября 1946 года и
      подписанном все той же Е.Александровой, говорится, что «согласно распоряжению Михаила Храпченко, распределение
      трофейных предметов откладывается до особого приказа». Этот особый приказ никогда не был отдан.
    </p>

    <p>Амбициозным планам Меркурова по созданию Музея Мирового искусства также не суждено было сбыться. Символично, что
      та же участь постигла и другой грандиозный проект, к которому он имел отношение - проект Дворца Советов,
      включавший в свою архитектурную композицию колоссальную статую Ленина работы Меркурова.
      [<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/13.jpg">Илл 013</a> Б. М.
      Иофан, В. Г. Гельфрейх, В. А. Щуко. Проект Дворца Советов. - Из альбома "Высотные здания в Москве",
      1950 г.]
    </p>

    <p>В начале 1949 года М.Б.Храпченко, глава комитета по делам искусств, посетил ГМИИ вместе с личным секретарем
      Иосифа Сталина Александром Поскребышевым. После этого визита, который должен был решить судьбу трофейных собраний,
      введен был новый режим секретности, регламентировавший доступ к трофейным произведениям. Теперь, только ряд
      отдельных музейных сотрудников и реставраторов имел право доступа к ним. В Ленинграде подобная ситуация сложилась
      почти одновременно: об этом свидетельствует архивный документ, датируемый 21 декабря 1948 года. В нем говорится,
      со ссылкой на другой документ от 26 мая 1948, что любые сведения о трофейном искусстве теперь являлись
      государственной тайной. А доступ к самим произведениям с февраля 1949 года осуществлялся лишь по письменному
      разрешению главы комитета по делам искусств.
    </p>

    <p>Прямо говорит о совершенной секретности этого фонда и другой документ Эрмитажа: внутренняя музейная инструкция по
      обращению с фондом перемещенных произведений, датированная 25 февраля 1953 года, и основывающаяся на приказе
      Президиума Верховного Совета СССР от 9 июля 1947 года. Даже печатный текст самой этой инструкции, которую
      надлежало хранить вместе с инвентарной книгой, был секретным. Хотя нам не удалось обнаружить документов подобного
      рода в архиве ГМИИ, несомненно, что подобный же порядок секретности существовал и в московском музее, сделав само
      знание о существовании этих предметов доступным лишь крайне ограниченному кругу лиц.
    </p>

    <p>Документация, относящаяся к фонду трофейной скульптуры из Берлина, в архивах Пушкинского музея становится скудной
      за период с 1950 по 1958 годы и полностью исчезает после 1963 года, когда эти скульптуры, вместе с другими
      произведениями, были переданы в Архив художественных произведений Министерства культуры СССР в г. Загорск. Однако
      материалов достаточно, чтобы понять, что состояние поврежденных произведений из бункера всегда представляло собой
      неразрешимую проблему для сотрудников музея, хранивших и обрабатывавших этот материал. Печальную картину рисуют и
      документы других отделов, в частности, записки хранителей отдела античности и прикладного искусства, на чью долю
      пришлось наибольшее количество пострадавших предметов из бункера. Нехватка места и неподходящие условия хранения,
      транспортные повреждения, ржавчина и плесень угрожали предметам, реставрировать которые было поручено небольшому
      числу человек, не имевших не только необходимого финансирования, но и элементарных материалов. Один из документов,
      подписанный хранителем прикладного искусства И.Дроздовой и представленный в Министерство Госконтроля СССР в 1950
      году, прямо описывает все проблемы, связанные с хранением спецфонда, говоря о том, что его предметы «не могут
      храниться в существующих условиях Музея изобразительных искусств им. Пушкина согласно правилам музейного
      хранения». В этом печальном свидетельстве затрагиваются даже такие подробности бытового характера, как отсутствие
      эмалированной кастрюли в реставрационной мастерской, не позволяющее реставраторам пользоваться кислотой – и то,
      что такая кастрюля не может быть нигде куплена. Сколь бы ненормальной сегодня не казалась такая ситуация, для
      послевоенной советской России она была совершенно обыкновенной.
    </p>

    <p>Несмотря на эти и другие трудности, попытка отреставрировать ряд произведений из бывшего берлинского собрания
      была предпринята в период между 1950 и 1953 годами. Хотя фотографий или иной документации процесса не сохранилось,
      об этом говорится в записке хранителя западноевропейской скульптуры С.Д.Романович, сделанной 17 июня 1957 года
      перед подготовкой передачи предметов ГДР, состоявшейся в следующем году. Именно в этот период две бронзовые
      плакетки, приписывавшиеся Донателло (Мадонна с Младенцем, Берлин Инв №1034, илл 00) и «Бичевание Христа» (Берлин
      №1027, илл 00) вместе с рядом других были подвергнуты электрохимическому процессу, который снял слой пепла и
      продуктов горения, покрывавший их целиком. К сожалению, первоначальное состояние поверхности после использования
      этого метода необратимо утрачено.
    </p>

    <p>Планы более глубокой и всеобъемлющей реставрации произведений из Берлина существовали, но никогда не были
      претворены в жизнь. 17-27 марта 1953 года хранителем западноевропейской скульптуры С.Д.Романович вместе с
      реставратором Касьяненко были осмотрены и намечены к реставрации 102 скульптуры особого фонда, о чем составлен был
      рукописный акт, сохраняющийся в запасниках ГМИИ. На основе этой записки был составлен официальный протокол
      реставрационного совета, датирующийся 5 апреля 1953 года, который был подписан и одобрен Николаем Слоневским,
      новым директором музея, 3 июня 1953 года. Сейчас трудно сказать, почему именно реставрация этих скульптур, в
      основном происходивших из музеев Берлина, никогда не состоялась. Но важно обратить внимание на дату написания
      первого документа. Смерть Сталина 5 марта 1953 года ознаменовала начало нового периода в истории страны, и в жизни
      музея, с 1949 года использовавшегося как пространство для «Выставки подарков И.В.Сталину от народов СССР и
      зарубежных стран». В декабре 1953 года ГМИИ возобновил свою нормальную работу и открыл новую постоянную экспозицию
      для публики. Слоневский, возглавлявший музей в 1950-54 годах, сегодня рассматривается как преимущественно
      декоративная фигура и вскоре покинул свой пост.[<a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/14.jpg">Илл 014</a>. «Выставка подарков И.В. Сталину от Польской Народной
      Республики» в зале ГМИИ, 1949-1953]
    </p>

    <p>Изменения политической конъюнктуры в этот новый период привели к масштабным возвратам произведений «перемещенного
      искусства», сохранявшихся в музеях СССР. Наиболее известным событием такого рода стало возвращение картин
      Дрезденской галереи, состоявшееся в 1956 году. Менее известен имевший место в том же 1956 году факт передачи
      Польской народной республике художественных произведений. Возврат произведений искусства и предметов культуры в
      ГДР, самый масштабный из всех, привел к перемещению более 1.574.106 предметов культуры из СССР в ГДР. Однако
      многие предметы не попали в списки передачи, и до сих пор в Германии задаются вопросом о критериях отбора этих
      предметов, собственно, почему одни были возвращены, а другие – нет.
    </p>

    <p>Отчасти проливает свет на обстоятельства, предшествующие передаче ГДР художественных произведений письмо министру
      культуры СССР Н.А.Михайлову, направленное ему в январе 1958 года тремя ведущими представителями музеев,
      сотрудниками ГМИИ и Эрмитажа: Б. Р. Виппером, А.А. Губером и В.Ф. Левинсоном-Лессингом. В этом письме музейные
      хранители выражают свою озабоченность предстоящим возвратом произведений, и прямо говорят о невозможности
      «возврата на основе взаимности», а также и о том, что «возврат ГДР всех находящихся в Советском Союзе
      художественных и культурных ценностей был бы не в интересах Советского союза». Несмотря на эти выраженные ими
      опасения, передача произведений из фонда западноевропейской скульптуры состоялась, и 269 скульптур из немецких
      музеев было передано представителям ГДР хранителями ГМИИ в сентябре-декабре 1958 года. Часть произведений перед
      этим экспонировалась на выставке, прошедшей в музее.
      <a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/15.jpg">Илл. 015</a> , <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/15a.jpg">015а</a> Каталог
      «Выставки произведений живописи, графики, скульптуры и прикладного искусства из музеев
      Германской Демократической Республики», 1958 г.]
    </p>

    <p>Докладная записка А.Губера, датирующаяся 6 марта 1961 года, позволяет установить точные критерии, которыми
      руководствовались музейные сотрудники при отборе произведений. Не подлежали возврату: произведения из частных
      собраний; принадлежавшие музейным организациям Западной Германии; или неизвестного происхождения. Однако
      скульптуры из берлинского собрания, сохраняющиеся сегодня в ГМИИ им. А.С.Пушкина, не входят ни в одну из этих трех
      групп.
    </p>

    <p>Скульптуры из музеев Берлина упоминаются в документах ГМИИ до 1963 года еще раз, в рукописной заметке хранителя
      С.Д.Романович. Этот документ не датирован, но явно написан перед той самой передачей из фонда скульптуры в ГДР.
      Для нашего проекта данный документ имеет исключительную важность, поскольку позволяет понять, почему скульптуры
      были исключены из большого процесса передачи произведений искусства ГДР в 1958 году. Имеющий заголовок «Список
      выдающихся произведений скульптуры из берлинских музеев», он начинается восемью произведениями, в числе которых
      такие известные работы, как «Поклонение Младенцу» Антонио Росселино и «Бюст Глюка» Ж.-А.Гудона - все они теперь
      находятся в Боде-Музее, будучи возвращенными в ГДР.
      [<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/16.jpg">Илл. 016</a>
      С.Д.Романович. «Список выдающихся произведений скульптуры из берлинских музеев». 1957]
    </p>

    <p>[<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/17.jpg">Илл. 017</a>.
      Антонио Росселино. Терракотовый рельеф-тондо «Поклонение Младенцу». Ок. 1475 г. Находился в ГМИИ в
      1946 г., передан ГДР в 1958 г.]
      Лишь после пометки «произведения, сохраняющиеся во фрагментах или сильно поврежденные пожаром и взрывом в
      бункере», появляются в списке три работы круга Донателло – рельеф «Бичевание Христа», «Иоанн Креститель» и
      маленький бронзовый «Амур», и прочие предметы. Далеко не во всех случаях можно согласиться с оценкой Романович
      относительно того, какие из этих произведений в действительности представляют наибольшую ценность, и досадной
      оплошностью выглядит неверно указанное возле имен скульпторов время жизни. Но значительно важнее другое: список
      свидетельствует и в пользу того, что исключительно соображения политического характера, а не стремление
      искусствоведов и хранителей расширить коллекцию московского музея помешали возвращению произведений в Германию.
    </p>

    <p>С полной уверенностью можно говорить о том, что именно плохое состояние этих произведений помешало их включению в
      программу возврата в 1958 году. В записке со сведениями об оставшихся в ГМИИ после передачи ГДР предметах
      античного искусства (экспонировавшимися в 2006 году после реставрации на выставке «Археология Войны»),
      формулировка прямо гласит: «не были переданы в ГДР в общем порядке по состоянию их сохранности – главным образом
      поврежденные огнем – (из т.н. бункера)». Приблизительно тот же смысл прочитывается и в аналогичной записке
      хранителя Романович, датированной 23.02.1959 и упоминающей скульптуры «обгоревшие из бункера, принадл. Берлинскому
      музею» .
    </p>

    <p>Причины такого решения также представляются понятными. Чтобы не скомпрометировать пропагандистский политический
      эффект от возвращения предметов искусства, произведения в плохом состоянии считалось желательным исключить. Хорошо
      известна сегодня ситуация, сложившая в Государственном Эрмитаже перед той самой передачей предметов искусства ГДР.
      Огромная реставрационная работа, призванная стереть все следы транспортных повреждений с предметов, затронувшая
      очень большое количество человек, проводилась в крайней спешке, закончить ее нужно было до конца 1958 года.
      Опасения того, что плохое состояние предметов, выданных в ГДР, вызовет критику, носились в воздухе, а официальные
      документы в буквальном смысле призывали уничтожать те произведения, которые в силу состояния потеряли историческую
      ценность и могли «спровоцировать вражескую пропаганду».
    </p>

    <p>Например, документ этого же времени из архива Государственного Эрмитажа (16 июня 1958 г.) упоминает мраморные
      скульптуры из бункера Фридрихсхайн отдельно, говоря об их непригодности для перевозки и о необходимости их
      специальной обработки. Кроме того, этот же документ говорит о невозможности передачи «предметов, утративших в силу
      своего состояния художественное и историческое значение. Отобранные работниками Эрмитажа и проверенные комиссией
      предметы должны быть осмотрены и санкционированы на уничтожение специально на то уполномоченными представителями
      Министерства культуры СССР». <a class="publications__popup-pic" data-effect="mfp-zoom-in"
        href="img/publications/1/18.jpg">018</a> Донателло, Мадонна с Младенцем в плаще. Современное состояние после
      реставрации
      в Государственном Эрмитаже в 1957 г. (под руководством П. И. Перова, 1897 -1992) Ныне - Берлин, Боде-Музей. Также
      см. фото 011.]

    </p>

    <p>Безусловно, эта вызывающая серьезные опасения формула с очевидностью была неприменима к тем произведениям
      скульптуры из музеев Берлина, которые оставались в Пушкинском музее вместе с прочими трофейными ценностями.
      Поднимать вопрос об их уничтожении, разумеется, никто не собирался. Однако и после 1958 года они продолжили
      представлять не меньшие, а то и большие трудности для хранителей, чем раньше. Экспозиция этих предметов была
      невозможна как по политическим причинам, так и по причинам их состояния сохранности. Никаких реалистических
      перспектив передачи их в Германию не оставалось, а режим секретности, отрицавший само их существование, не давал
      возможности научной обработки этого материала. У этих произведений не было будущего, и это хорошо понимали
      музейные сотрудники, во главе с директором ГМИИ Александром Замошкиным, пытавшиеся в начале 1960-х годов найти
      хоть какое-то решение проблемы.
    </p>

    <p>По указанию Андрея Константиновича Лебедева, начальника Отдела изобразительных искусств и охраны памятников
      Министерства культуры СССР, был разработан проект передачи остатков трофейного фонда в Государственный Эрмитаж.
      Изначально этот процесс был намечен на июль-август 1960 г. и связан с передачей Эрмитажу здания Смольного
      монастыря. Вся документация об этом процессе сохранилась в архивах ГМИИ, включая списки и хранительские отчеты.
      Берлинская скульптура из бункера также входила в этот перечень. Однако, сама эта передача никогда не состоялась, а
      идея была официально отвергнута В.Ф.Левинсоном-Лессингом, к тому времени и.о. директора Эрмитажа, заявившим в
      августе 1960 года, что у Эрмитажа нет подходящих площадей, чтобы принять предметы из Москвы, поскольку планы
      расширения его запасников за счет передачи музею Смольного монастыря не осуществились.
    </p>

    <p>Идея освободить значительно более ограниченные запасники московского музея от произведений трофейного
      происхождения оказалась заманчивой. В последующие годы представилась еще одна возможность сделать это. 11 марта
      1963 года был подписан акт, передающий трофейные предметы, включая и скульптуру из берлинских музеев, на хранение
      в особый Архив художественных произведений при Министерстве Культуры СССР, находившийся в г. Загорск. Это
      учреждение было основано в 1951 году с целью сохранения там большеформатных полотен социалистического реализма,
      оставшихся от прошедшей в 1939 году выставки «Индустрия Социализма». В 1958 году, во время кампании по
      десталинизации страны, архив также получил огромное количество других предметов визуальной пропаганды. С 1963 года
      мраморные и бронзовые бюсты Сталина сохранялись, по странному стечению исторических обстоятельств, рядом с
      забытыми и поврежденными произведениями скульптуры Ренессанса из музеев Берлина. Их общим хранилищем служила
      выстроенная в XVI столетии башня монастыря Троице-Сергиевой Лавры, знаменитого памятника архитектуры и места
      религиозного поклонения, спасенного от разрушения большевиками лишь благодаря превращению в музей. Такая ситуация
      сохранялась с 1963 года до самого конца XX столетия. В течение всего этого времени архив посещался музейными
      сотрудниками лишь в ходе хранительских инспекций, случавшихся несколько раз в год. [<a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/19.jpg">Илл. 019</a>, <a
        class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/20.jpg">020</a>. Архив
      художественных произведений Министерства Культуры СССР. Фото середины 1990-х гг.]</p>

    <p>В период между 1981-2002 годах фонд курировала О.Д. Никитюк, хранитель Отдела искусства стран Европы и Америки,
      которая регулярно инспектировала хранение в г. Загорске. При ее участии между 1999 и 2002 годом фонд скульптуры
      был небольшими партиями перевезен в Москву и размещен в помещении ц. Св. Антипия, в непосредственной близости к
      музею. В начале 2000-х, когда здание церкви  решением правительства было передано во владение  Московского
      патриархата, коллекции переехали в соседний дом №8 по М. Знаменскому переулку. В это время хранение было
      систематизировано, проведена его фотофиксация и началось его изучение силами хранителя С.С. Морозовой. Несмотря на
      продолжавшийся запрет экспонирования и публикации памятников ОФ, хранителям удалось показать отдельные
      произведения в составе внутренних выставок ГМИИ им. А.С. Пушкина,  составить списки памятников для введения их в
      состав будущих музейных экспозиций и очередь на реставрацию. Проблема экспозиции поврежденных скульптур, однако,
      никуда не ушла, а реставрацию многих из них только предстоит осуществить.
      [<a class="publications__popup-pic" data-effect="mfp-zoom-in" href="img/publications/1/21.jpg">Илл. 021</a>.
      Разбор фрагментов фонда античной керамики в помещении запасника, организованного в церкви св. Антипия
      на Колымажном Дворе. 2002]
    </p>

    <p>Закрытие загорского Архива совпало по времени с эпохой нового отношения к проблеме перемещенных ценностей.
      Выставки «Золота Трои» в 1996 году и «Археология Войны» в 2006 году, стали важными шагами неизбежного и
      необходимого процесса возвращения этих предметов в поле зрения археологии и истории искуства, хотя и произвели
      целый ряд различных противоречивых реакций в информационном поле. Более недавние выставки «Меровинги» (2007) и
      «Бронзовый Век» (2013), сделанные в сотрудничестве с Фондом Прусского Культурного наследия, стали примером новых
      методов взаимодействия между российскими и германскими музейными институциями. Прошедшая в Берлине в 2015 году
      выставка «Исчезнувший музей», посвященная теме утрат берлинских музейных собраний после Второй Мировой войны,
      замечательна тем, что не ограничивалась только темой произведений искусства, перемещенных в Советский Союз.
      Затронутые выставкой вопросы жизни произведений в культурной и исторической памяти имеют более широкий характер. К
      числу ее достоинств следует отнести и то, что тяжело поврежденные войной предметы, обычно сохраняющиеся в
      запасниках, были представлены посетителям в рамках музейной экспозиции. Найти верный подход к противоречивой и
      эмоционально насыщенной истории этих произведений сегодня также представляется нам возможным. Современные
      технологии реставрации открывают новые перспективы для предметов, восстановление которых казалось невозможным в
      1950-е годы. И в ряде случаев даже фрагменты сохранившихся произведений продолжают сохранять свое историческое
      значение и оказывать эстетическое воздействие на зрителя.
    </p>

    <p>Сегодня, в период реконструкции и перемен в Пушкинском музее, мы надеемся написать новую главу в истории этих
      произведений совместно с Музеем Боде. Работая вместе, мы хотели бы вернуть их тем, для кого они имеют
      первостепенную важность – исследователям и посетителям музеев во всем мире.
    </p>

    <p>Приложение 1. </p>
    <p> «Список выдающихся произведений скульптуры из коллекции Берлинского музея» {1956-57} </p>
    <p><i>(пунктуация и орфография автора сохранены. В квадратных скобках указаны инвентарные номера и местонахождение
        предметов из списка – если не указано иначе, ГМИИ)</i></p>

    <ol>
      <li>Донателло. Италия XV в.
        св. Семейство [SKS #60, ЗС-7, возвращен ГДР]
      </li>
      <li>Лука делла Роббиа. Италия XV в.
        Мадонна Алессандри [SKS #139, ЗС-19, возвращен ГДР]</li>
      <li>Джованни делла Роббиа. Италия XVI в.
        Поклонение младенцу. [SKS #153, ЗС-22, возвращен ГДР]</li>
      <li>Росселино. Италия XVI в.
        Поклонение младенцу. [SKS #81, ЗС-32, возвращен ГДР]</li>
      <li>Сперандио Мантовано. Италия XVI в.
        Портр. Никколо Санути [KFMV M.9, ЗС-48, возвращен ГДР]</li>
      <li>Сансовино, Якопо. Италия XVI в.
        Мадонна с младенцем [SKS #288, ЗС-63, возвращен ГДР]</li>
      <li>Сансовино, Якопо. Италия XVI в.
        Мадонна со святыми [SKS #286, ЗС-64, возвращен ГДР]</li>
      <li>Гудон. Франция XVIII в.
        Портрет Глюка [SKS #1960, ЗС-222, возвращен ГДР]</li>
    </ol>

    <p>Произведения, сохранившиеся во фрагментах или сильно разрушенные во время пожара и взрыва в бункере.</p>


    <ul>
      <li>Донателло. Италия XV в.
        <ol>
          <li>Бичевание Христа – обгорел, разбит [SKS № 1979 \ ЗС-5]</li>
          <li>Иоанн Креститель – обгорел [SKS № 50 \ ЗС-8]</li>
          <li>Танцующий путто – обгорел [SKS № 2764 \ ЗС-9]
        </ol>
      </li>
      <li>Лука делла Роббиа. Италия XV в.
        <ol>
          <li>Мадонна Фрескобальди – часть головы мадонны. [SKS №2180 \ ЗС-502]</li>
          <li>Мадонна с младенцем –обгорела, разбита [SKS #143, ЗС-17]</li>
        </ol>
      </li>
      <li>Джованни делла Роббиа. Италия XVI в.
        <ol>
          <li>Оплакивание Христа – Христос в Эрмитаже, 3 фигуры в ГМИИ [SKS #160, ЗС-25, ЗС-26, ЗС-27. Возвращены ГДР]
          </li>
        </ol>
      </li>
      <li>Росселино
        <ol>
          <li> Мадонна с младенцем – разрушена [SKS #92, ЗС-665]</li>
        </ol>
      </li>
      <li>Мино да Фьезоле. Италия XVI в.
        <ol>
          <li> Бюст молодой девушки – мрамор [SKS #97, ЗС-35]</li>
        </ol>
      </li>
      <li>обгорел, побит, деформирован
        <ol>
          <li>Вера – рельеф- обгорел, разбит [SKS #99, ЗС-36]</li>
        </ol>
      </li>
      <li>Вероккио. Италия XVI в.
        <ol>
          <li>Лежащие путто – обгорели, разбиты [SKS #115,116 , ЗС-14,15]</li>
          <li>Положение во гроб – разбито. [SKS #117, ЗС-12]</li>
        </ol>
      </li>
      <li>Лаурана, Франческо. Италия XVI в.
        <ol>
          <li>Бюст Неаполитанской принцессы [SKS #260, ЗС-58]
            сохранилась часть шеи и часть бюста. Голова утрачена [Сохранилась в Берлине]</li>
        </ol>
      </li>
      <li>Маццони, Джулио
        <ol>
          <li>Бюст Франческо дель Неро – обгорел. [SKS #2261, ЗС-224]</li>
        </ol>
      </li>
      <li>Хранитель Романович.</li>
    </ul>

    <p>Архив ГМИИ. Ф. 10, О. 1 Дело 78. Лист 127, 128.</p>
  </article>
</section>

{% endblock %}
