---
title: Publications
description: межмузейный проект ДВАЖДЫ СПАСЕННЫЕ
---
{% set page_title = "publications-eng" %}
{% set page_lang_link = "publications" %}
{% set id = "30" %}
{% extends "../templates/layouts/_layout-eng.html" %}

{% block content %}

<section class="publications">

  <ul class="publications__list">
    <li class="publications__item">
      <a href="pdf-1-eng.html" class="popup-youtube">
        <img src="img/author-1.jpeg" alt="">
        <p>From a Russian Perspective. Notes on the History of the Italian Sculptures from the Berlin Museums in the
          Custody of the Pushkin State Museum of Fine Arts, Moscow, 1945–2015</p>
        <h2>Vasiliy Rastorguev</h2>
      </a>
    </li>
    <li class="publications__item">
      <a href="pdf-2-eng.html" class="popup-youtube">
        <img src="img/author-2.jpeg" alt="">
        <p>Donatello and the two Madonnas. <br> A Short History of the Berlin Museums’ <br> Sculpture Collection</p>
        <h2>Neville Rowley</h2>
      </a>
    </li>
  </ul>

</section>

{% endblock %}
