{% set list = [
  {
    'name' : 'Людмила Акимова',
    'name_eng' : 'Lyudmila Akimova, PhD',
    'position': 'ведущий научный сотрудник Отдела искусства и археологии Античного мира',
    'position_eng': 'leading researcher at the Department of Ancient Art and Archaeology',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Дарья Бабич',
    'name_eng' : 'Daria Babich',
    'position': 'перевод',
    'position_eng': 'translation',
    'link': 'http://museumconservation.ru/data/people/babich_darya_mihaylovna/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/babich_darya_mihaylovna/index.php?lang=en'
  },
  {
    'name' : 'Игорь Бородин',
    'name_eng' : 'Igor Borodin',
    'position': 'заведующий Отделом реставрации и консервации',
    'position_eng': 'head of the Department of Conservation',
    'link': 'http://museumconservation.ru/data/people/borodin/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/borodin/index.php?lang=en'
  },
  {
    'name' : 'Дмитрий Калиничев',
    'name_eng' : 'Dmitry Kalinichev',
    'position': 'научный сотрудник Отдела искусства и археологии Античного мира',
    'position_eng': 'researcher at the Department of Ancient Art and Archaeology',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Андрей Кудрявицкий',
    'name_eng' : 'Andrey Kudryavitsky',
    'position': 'фотограф',
    'position_eng': 'photographer',
    'link': 'http://museumconservation.ru/data/people/kudryavitsky/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/kudryavitsky/index.php?lang=en'
  },
  {
    'name' : 'Полина Любимова',
    'name_eng' : 'Polina Lyubimova',
    'position': 'редактор текстов',
    'position_eng': 'editor',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Александр Лесухин',
    'name_eng' : 'Alexander Lesukhin',
    'position': 'верстка, программирование',
    'position_eng': 'webpage slicing, programming',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Джек Оуэнн',
    'name_eng' : 'Jack Owen',
    'position': 'озвучка текстов',
    'position_eng': 'narration',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Татьяна Потапова',
    'name_eng' : 'Tatiana Potapova',
    'position': 'главный хранитель ГМИИ им. А.С. Пушкина',
    'position_eng': 'chief curator at the Pushkin State Museum',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Василий Расторгуев',
    'name_eng' : 'Vasiliy Rastorguev',
    'position': 'старший научный сотрудник отдела искусства старых мастеров',
    'position_eng': 'senior researcher, Department of the Old Masters ',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Фёдор Ратников',
    'name_eng' : 'Fedor Ratnikov',
    'position': 'оператор',
    'position_eng': 'camera work',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Невилл Роули',
    'name_eng' : 'Neville Rowley',
    'position': 'хранитель коллекции раннего итальянского искусства музея Боде и картинной галереи, Государственных Музеев Берлина.',
    'position_eng': 'сurator for Early Italian Art, Gemäldegalerie and Bode Museum Staatliche Museen zu Berlin',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Игорь Ткачев',
    'name_eng' : 'Igor Tkachev',
    'position': 'специалист по компьютерной графике',
    'position_eng': 'digital graphics',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Михаил Угольников',
    'name_eng' : 'Mikhail Ugolnikov',
    'position': 'макет',
    'position_eng': 'design',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Игорь Фетисов',
    'name_eng' : 'Igor Fetisov',
    'position': 'ведущий методист по научно-просветительской деятельности отдела экскурсионной и лекционной работы',
    'position_eng': 'lead methodologist at the Popular Science Department',
    'link': '',
    'link_eng': ''
  }
  ]
%}
{% set list2 = [
  {
    'name' : 'Юрий Воронин',
    'name_eng' : 'Yury Voronin',
    'link': 'http://museumconservation.ru/data/people/voronin/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/voronin/index.php?lang=en'
  },
  {
    'name' : 'Людмила Левко',
    'name_eng' : 'Lyudmila Levko',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Ирина Макарова',
    'name_eng' : 'Irina Makarova',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Елена Минина',
    'name_eng' : 'Elena Minina',
    'link': 'http://museumconservation.ru/data/people/minina/index.php?lang=ru',
    'link': 'http://museumconservation.ru/data/people/minina/index.php?lang=en'
  },
  {
    'name' : 'Ирина Сивова',
    'name_eng' : 'Irina Sivova',
    'link': '',
    'link_eng': ''
  },
  {
    'name' : 'Марина Титова',
    'name_eng' : 'Marina Titova',
    'link': 'http://museumconservation.ru/data/people/titova/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/titova/index.php?lang=en'
  },
  {
    'name' : 'Михаил Тулубенский',
    'name_eng' : 'Mikhail Tulubensky',
    'link': 'http://museumconservation.ru/data/people/tulubensky/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/tulubensky/index.php?lang=en'
  },
  {
    'name' : 'Юлия Устинова',
    'name_eng' : 'Julia Ustinova',
    'link': 'http://museumconservation.ru/data/people/ustinova/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/ustinova/index.php?lang=en'
  },
  {
    'name' : 'Владимир Черемхин',
    'name_eng' : 'Vladimir Cheremkhin',
    'link': 'http://museumconservation.ru/data/people/cheremkhin/index.php?lang=ru',
    'link_eng': 'http://museumconservation.ru/data/people/cheremkhin/index.php?lang=en'
  }
  ]
%}
