{% set list = [
  {
    id: '01',
    author: 'Дарий',
    title: 'Амфора мастера Дария. Италия, Южная Италия.' },
  {
    id: '02',
    author: 'Донателло Д. (?)',
    title: 'Иоанн Креститель' },
  {
    id: '03',
    author: 'Донателло Д. (?)',
    title: 'Танцующий амур'
  },
  {
    id: '04',
    author: 'Донателло Д. (?)',
    title: 'Бичевание Христа'
  },
  {
    id: '05',
    author: 'Верроккьо А. (?)',
    title: 'Лежащий мальчик'
  },
  {
    id: '06',
    author: 'Роббиа Л.',
    title: 'Мадонна с Младенцем
    на руках. (Мадонна Фридрихштайн)'
  },
  {
    id: '07',
    author: 'ди Бетто Барди Донато ди Никколо Донателло (ок. 1386 - 1466)',
    title: 'Бичевание Христа'
  },
  {
    id: '08',
    author: 'Верроккьо Андреа (1435 - 1488), круг',
    title: 'Портрет Беатриче Арагонской'
  },
  {
    id: '09',
    author: 'Лаурана Ф.',
    title: 'Портрет неаполитанской принцессы'
  },
  {
    id: '10',
    author: 'Бриоско Андреа Риччо (1470 - 1532)',
    title: 'Мальчик и саранча'
  },
  {
    id: '11',
    author: 'Бертольдо ди Джованни (1420 - 1491)',
    title: 'Св. Иероним'
  },
  {
    id: '12',
    author: '',
    title: 'Бюст ребенка'
  },
  {
    id: '13',
    author: 'Маццони Д.',
    title: 'Бюст Франческо дель Неро'
  },
  {
    id: '14',
    author: 'Бертольдо Б.',
    title: 'Пленный'
  },
  {
    id: '15',
    author: 'Кавалли Д.',
    title: 'Портрет Джанбаттиста Спанволи'
  },
  {
    id: '16',
    author: 'Дезидерио да Сеттиньяно Д.',
    title: 'Бюст мальчика'
  },
  {
    id: '17',
    author: 'Беллано Н.',
    title: 'Ад (группа с тремя мойрами)'
  },
  {
    id: '18',
    author: '',
    title: 'Ад (с Цербером)'
  },
  {
    id: '19',
    author: 'Гудон А.',
    title: 'Бюст Вольтера'
  },
  {
    id: '20',
    author: '',
    title: 'Динос с изображением сфинг. Греция, Родос.'
  },
  {
    id: '21',
    author: 'Мастер Гесионы',
    title: 'Келеба краснофигурная с изображением Аполлона на лебеде. Италия,
    Этрурия, Вольтерра'
  },
  {
    id: '22',
    author: '',
    title: 'Большая ойнохоя с 4-сторонним декором, Кипр'
  },
  {
    id: '23',
    author: '',
    title: 'Кратер чернолаковый большой с накладным декором в виде плющевой
    ветви.'
  },
  {
    id: '24',
    author: '',
    title: 'Амфора буккеро с изображением шествия всадников и протомами
    богини.'
  },
  {
    id: '25',
    author: 'Копенгагенский мастер',
    title: 'Стамнос краснофигурный со сценой убиения Эгисфа Орестом и
    Электрой.'
  },
  {
    id: '26',
    author: '',
    title: 'Беотийский юноша-адорант с петухом.'
  },
  {
    id: '27',
    author: '',
    title: 'Подвесная плита с изображением стоящей богини с "локонами Хатор".'
  },
  {
    id: '28',
    author: '',
    title: 'Рельеф Кампана с изображением палестры'
  },
  {
    id: '29',
    author: '',
    title: ''
  },
  {
    id: '30',
    author: '',
    title: ''
  }

  ]
%}
