{% set menu = [
  {
    'menu_item' : 'На главную',
    'menu_link': 'index',
    'menu_item_eng': 'Home',
    'menu_link_eng': 'index-eng'
  },
  {
    'menu_item' : 'О выставке',
    'menu_link': 'about',
    'menu_item_eng': 'About',
    'menu_link_eng': 'about-eng'
  },
  {
    'menu_item' : 'Публикации',
    'menu_link': 'publications',
    'menu_item_eng': 'Publications',
    'menu_link_eng': 'publications-eng'
  },
  {
    'menu_item' : 'Пресса и медиа',
    'menu_link': 'press',
    'menu_item_eng': 'Press coverage',
    'menu_link_eng': 'press-eng'
  },
  {
    'menu_item' : 'Партнеры',
    'menu_link': 'partners',
    'menu_item_eng': 'Partners',
    'menu_link_eng': 'partners-eng'
  },
  {
    'menu_item' : 'Над проектом работали',
    'menu_link': 'contributors',
    'menu_item_eng': 'Contributors',
    'menu_link_eng': 'contributors-eng'
  }
  ]
%}
