{% set slider1 = [
  {
    id: '1',
    title: 'Музей Кайзера Фридриха. Вид с моста через реку Шпрее.',
    title_eng: 'Kaiser Friedrich Museum. View from the bridge over the river Spree.'
  },
  {
    id: '2',
    title: 'Музей Кайзера Фридриха. Экспозиция собрания итальянской скульптуры.',
    title_eng: 'Kaiser Friedrich Museum. Italian sculpture collection display.'
  },
  {
    id: '3',
    title: 'Неосуществленный план портика Пергамон-Музея, 1909 г.',
    title_eng: 'Unrealized plan of the Pergamon-Museum portico, 1909.'
  },
  {
    id: '4',
    title: 'Торжественное открытие зала Пергамского Алтаря, 1930 г.',
    title_eng: 'Grand opening of the Pergamon Altar hall, 1930.'
  },
  {
    id: '5',
    title: '«Базилика» - зал Музея Кайзера Фридриха, фото 1917 г.',
    title_eng: '"Basilica" - hall of the Kaiser Friedrich Museum, 1917.'
  },
  {
    id: '6',
    title: 'Зал Рубенса в музее Кайзера Фридриха (до 1939 г.)',
    title_eng: 'Rubens Hall at Kaiser Friedrich Museum (before 1939).'
  }
  ]
%}

{% set slider2 = [
  {
    id: '1',
    title: 'Гумбольдтхайн. Боевая башня комплекса III. Фото неизвестного автора.',
    title_eng: 'Humboldtstein. Combat tower of complex III. Photo by an unknown author.'
  },
  {
    id: '2',
    title: 'Боевая (Gefechtsurm) и контрольная (Leitturm) башни зенитного комплекса. Масштабная модель для сопоставления.',
    title_eng: 'The combat (Gefechtsurm) and control (Leitturm) towers of the anti-aircraft complex. Scale model for comparison.'
  },
  {
    id: '3',
    title: 'Бункер Фридрихсхайн после подрыва советскими взрывотехниками, состоявшегося 2 мая 1946 года.',
    title_eng: 'Friedrichshain bunker after bombing by the Soviet bomb technicians on May 2, 1946.'
  },
  {
    id: '4',
    title: 'Cхема расположения музейных ценностей на этаже бункера (L-Turm). Видны рукописные пометки «Gemälde», «Skulpturen» - скульптура, живопись.',
    title_eng: 'Layout of the museum objects on the bunker floor (L-Turm). Handwritten notes "Gemälde", "Skulpturen" - sculpture, painting - are visible.'
  },
  {
    id: '5',
    title: 'Схема расположения зенитных башен на карте Берлина.',
    title_eng: 'Anti-aircraft towers location on the map of Berlin.'
  },
  {
    id: '6',
    title: 'Башня управления в Тиргартене (Зоопарк).',
    title_eng: 'Control tower in Tiergarten (Zoo).'
  }
  ]
%}

{% set slider3 = [
  {
    id: '1',
    title: '«Знамя Победы над Рейхстагом», фото Евгения Халдея 2 мая 1945 г.',
    title_eng: '"Banner of Victory over the Reichstag", photo by Evgeny Khaldei, May 2, 1945.'
  },
  {
    id: '2',
    title: 'Уборщица в зале Пергамского Алтаря, фото Стефан Мозес, 1949 г.',
    title_eng: 'Cleaner in the Pergamon Altar Hall, photo by Stephan Moses, 1949.'
  },
  {
    id: '3',
    title: 'Американские солдаты в шахте «Кайзерода» перед автопортретом Рембрандта, Меркерс, 1945 г.',
    title_eng: 'American soldiers in the Kaiseroda mine before Rembrandt`s self-portrait, Merkers, 1945.'
  },
  {
    id: '4',
    title: 'Американские солдаты дивизии MFA&A c картинами Берлинской Национальной Галереи.',
    title_eng: 'American soldiers of the MFA&A division with paintings from the Berlin National Gallery.'
  },
  {
    id: '5',
    title: 'Американские солдаты в шахте «Кайзерода» перед картиной Эдуарда Мане «В оранжерее», 1945 г.',
    title_eng: 'American soldiers in the Kaiseroda mine in front of Édouard Manet`s painting "In a Greenhouse", 1945.'
  },
  {
    id: '6',
    title: '«Базилика» Музея Кайзера Фридриха в 1945 г.',
    title_eng: '"Basilica" at the Kaiser Friedrich Museum, 1945.'
  }
  ]
%}


{% set slider4 = [
  {
    id: '1',
    title: 'Слепки, перенесенные из экспозиции музея в подвал. 1941-1944',
    title_eng: 'Plaster copies moved from to the basement. 1941-1944 '
  },
  {
    id: '2',
    title: 'Итальянский дворик в годы войны',
    title_eng: 'The Italian courtyard during the war.'
  },
  {
    id: '3',
    title: 'Прием ящиков с картинами Дрезденской галереи. Август 1945 года. И.А.Антонова на переднем плане',
    title_eng: 'Reception of boxes of paintings from the Dresden Gallery. August 1945. Irina Antonova in the foreground.'
  },
  {
    id: '4',
    title: 'Сотрудники ГМИИ во дворе Музея во время приема коллекций Дрезденской галереи в центре директор музея С.Д.Меркуров. Август 1945.',
    title_eng: 'Employees of the Pushkin State Museum in the courtyard of the museum during the reception of collections of the Dresden Gallery, director S.D. Mercurov in the centre. August 1945.'
  },
  {
    id: '5',
    title: 'Сикстинская мадонна в ГМИИ. Август 1945. В центре С.Д.Меркуров.',
    title_eng: 'Sistine Madonna at the Pushkin State Museum. August 1945. S.D. Mercurov in the centre.'
  }
  ]
%}

{% set slider5 = [
  {
    id: '1',
    title: 'Систематизация фрагментов античных ваз и терракот. Хранение Л.И. Акимовой, 2010',
    title_eng: 'Systematization of fragments of ancient vases and terracotta. Depository curated by of L. Akimova, 2010.'
  },
  {
    id: '2',
    title: 'Фрагменты античных ваз и терракот. Хранение Л.И. Акимовой. 2005',
    title_eng: 'Fragments of ancient vases and terracotta. Curated by L. Akimova. 2005.'
  },
  {
    id: '3',
    title: 'Лоток с фрагментами кипрских ваз. Хранение Л.И. Акимовой',
    title_eng: 'Tray with the fragments of Cyprus vases. Curated by L. Akimova.'
  },
  {
    id: '4',
    title: 'Лоток с женскими головками – фрагментами античных терракот. Хранение Л.И. Акимовой, 2013',
    title_eng: 'Tray with female heads - fragments of ancient terracotta.  Curated by L. Akimova, 2013.'
  },
  {
    id: '5',
    title: 'Произведения, включенные в проект «Донателло». 2015 г.',
    title_eng: 'Works included in the Donatello project. 2015 г. '
  }
  ]
%}

{% set slider6 = [
  {
    id: '1',
    title: 'Выставка «Археология войны». 2005 г. ',
    title_eng: 'Exhibition "Archaeology of War". 2005 г. '
  },
  {
    id: '2',
    title: 'Выставка «Археология войны». 2005 г. ',
    title_eng: 'Exhibition "Archaeology of War". 2005 г. '
  },
  {
    id: '3',
    title: 'Выставка «Искусство древнего Кипра». 2014 г.',
    title_eng: 'Exhibition "The Art of Ancient Cyprus". 2014 г. '
  },
  {
    id: '4',
    title: 'Выставка «Искусство древнего Кипра». 2014 г.',
    title_eng: 'Exhibition "The Art of Ancient Cyprus". 2014 г. '
  },
  {
    id: '5',
    title: 'Выставка «Искусство древнего Кипра». 2014 г.',
    title_eng: 'Exhibition "The Art of Ancient Cyprus". 2014 г. '
  }
  ]
%}

{% set slider7 = [
  {
    id: '1',
    title: 'Реставраторы ГМИИ им. А.С. Пушкина в Боде музее. Апрель. 2018 г.',
    title_eng: 'The Pushkin State Museum of Fine Arts conservators in Bode Museum. April 2018 г.'
  },
  {
    id: '2',
    title: 'Реставрационный совет в Боде музее. Апрель 2018 г.',
    title_eng: 'Conservation council in Bode Museum. April 2018.'
  },
  {
    id: '3',
    title: 'Германский археологический институт. Берлин. 2018 г.',
    title_eng: 'German Archaeological Institute. Berlin. 2018 г. '
  }
  ]
%}

{% set slider8 = [
  {
    id: '2',
    title: 'Художник-реставратор Елена Минина',
    title_eng: 'Conservator  Elena Minina '
  },
  {
    id: '3',
    title: 'Художник-реставратор Дмитрий Калиничев',
    title_eng: 'Conservator  Dmitry Kalinichev'
  },
  {
    id: '4',
    title: 'Художник-реставратор Владимир Черемхин',
    title_eng: 'Conservator  Vladimir Cheremkhin'
  },
  {
    id: '6',
    title: 'Художник-реставратор Марина Титова',
    title_eng: 'Conservator  Marina Titova'
  }
  ]
%}
